html {font-family: Verdana, Arial, Helvetica, sans, serif; }
body { padding: 0; margin: 0; font-size:12px}
img { border:0; }

table .paged {width:100%; border:0; margin-left:5px; margin-right:5px; border-collapse: collapse;}
tr.ruled td {
    cursor: pointer;
    background-color: #ffffcd;
    color:#000000;
    height: 25px;
    padding-left: 5px;
    padding-right: 5px;
}

tr{
    font-size:11px;
}

tr.toberuled td{
    font-size:11px;
    height: 25px;
    padding-left: 5px;
    padding-right: 5px;
}

.odd {
    background:#ededed;
    color:#666666;
}

.even {
    background:white;
    color:#666666;
}

#pageContent { margin: 0; padding:0; background: white; text-align:left; }
#inContent { padding:20px 0 0 0; margin:0; }
#content {color: #000000; text-align:left; }

.title { width: 100%; text-align: left; }
.title, .title a {color: #878787; background: #D6D6D6; }
.title select, .title input { font-size:9px; width: auto; border-width:1px;}
.title a { text-decoration:none;  font-size:10px}
.title th { text-align:left; padding:3px 0 3px 3px;}
.title td { text-align:left; padding:0 0 3px 3px; }

.pagernav { float:left; padding-left:10px}
.pagernav a { text-decoration: none; color: #878787; }
.psize { float: right; font-size: 9px; padding-right:10px}
.psize select { font-size: 9px; color:gray; }
.pager { clear:both; margin:5px 0 0 0; color:gray; font-size: 9px; }

.filter { width:100%; text-align: left; }
.filter, .filter select, filter input{font-size:9px; min-width:120px; border-width:1px;}

.userSelect {text-align: left; }
.userSelect, .userSelect select, .userSelect input{font-size:9px; min-width:120px; border-width:1px;}

input, select { font-size: 10px }

ul { font-size: 11px }

.topheader {
	font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 11px;
    background-image: url("../../images/topbarBlack.png");
	background-repeat: repeat-x;
	vertical-align: middle;
	color: #FFFFFF;
	border-bottom: 4px solid #B9CAE1;
}

.smallheader {
	padding: 2px;
	color: white;
	background-image: url("../../images/entryBarBlack.png");
}

.smallheader a {
    color: white;
    vertical-align: top;
}

.queryBG{ background-image: url("../../images/queryImageGray.png"); background-repeat: repeat; }

.bar {
	width: 100%;
    color: #878787;
    font-size: 11px;
    font-weight: bold;
    background: #D6D6D6;
    vertical-align: middle;
    padding: 4px 5px 2px 5px;
    margin: 3px 0 3px 0;
    border: 1px solid #878787;
    text-decoration:none;
}

.marqueebar{ color: #878787; font-size: 11px; background-color: #D6D6D6; }

.footerbar {
    height: 34px;
    font-size:11px;
    font-weight: bold;
    text-decoration:none;
    color: #878787;
    background: #D6D6D6;
    border: 1px solid #878787;
}

.category {
    width: 98%;
    background-image: url("../../images/categoryBarBlue.png");
    background-repeat: repeat;
    border: 1px solid #afafaf;
    text-align: center;
    line-height: 150%;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 11px;
    font-weight: bold;
    color: #003471;
    padding:2px 0 3px 0;
    margin: 5px;
}

a{ color: #666666; text-decoration:none; }
a:hover { text-decoration: underline; }

.vsep { border: 0; width: 95%; color: #8a9dc4; background-color: #8a9dc4; height: 1px; }

.dtree { font-family: Verdana, Geneva, Arial, Helvetica, sans-serif; font-size: 11px; color: #666666; white-space: nowrap; }
.dtree img { border: 0; vertical-align: middle; }
.dtree a { color: #333333; font-weight: normal; text-decoration: none; }
.dtree a.node, .dtree a.nodeSel { white-space: nowrap; padding: 1px 2px 1px 2px; }
.dtree a.node:hover, .dtree a.nodeSel:hover { color: #333333; font-weight: normal; text-decoration: underline; }
.dtree a.nodeSel { background-color: #FFFFCC; font-weight: bold; }
.dtree .clip { overflow: hidden; }

.box{ border: 1px solid #D6D6D6; }

#contactInfo {
    width: 98%;
    background-image: url("../../images/categoryBar2Blue.png");
    background-repeat: repeat;
    border: 1px solid #afafaf;
    margin: 5px;
}

td.ticketField { text-align: right; vertical-align: top; font-weight: bold; width:120px; height:23px;}
.ticketData {text-align: left; }
.ticketData, .ticketData td {vertical-align: top; width:150px; height:23px;}
.ticketData select{font-size:9px; min-width:120px; border-width:1px;}

td.ttticketField { text-align: right; vertical-align: top; font-weight: bold;}
.ttticketData {text-align: left; }
.ttticketData, .ttticketData td {vertical-align: top;}
.ttticketData select, .ttticketData textarea, .ttticketData input{font-size:9px; min-width:120px; border-width:2px; font-family: Verdana, Arial, Helvetica, sans, serif;}

#newCommentDiv{ background: #f5f5f6; border: 1px solid #ccced0; }

.commentHeader {
    width: 100%;
    color: #666666;
    background: #eeeeff;
    vertical-align: middle;
    padding: 4px 5px 2px 5px;
    margin: 3px 0 3px 0;
}
.commentBody{
    color: #000000;
    background: white;
    padding: 4px 5px 2px 5px;
}
.commentFooter {
    width: 100%;
    color: #666666;
    font-weight: normal;
    background: #f5f5f6;
    vertical-align: middle;
    padding: 4px 5px 2px 5px;
    margin: 3px 0 3px 0;
}

.colorBoxRed{border:#FF8083 1px solid;background-color:#F7D4D4; width:10px;height:10px;margin-left:3px;float:left; }
.colorBoxOrange{border:#FFA448 1px solid;background-color:#FFEBD6; width:10px;height:10px;margin-left:5px;float:left; }
.colorBoxGreen{border:#75BF60 1px solid;background-color:#D2EACB; width:10px;height:10px;margin-left:5px;float:left; }
.colorBoxBlue{border:#869fc0 1px solid;background-color:#D4E3F7; width:10px;height:10px;margin-left:5px;float:left; }
.colorBoxBlack{border:#878787 1px solid;background-color:#D6D6D6; width:10px;height:10px;margin-left:5px;float:left; }

/****************DOJO STUFF*************/

/********** Outer Window ***************/
.dojoFloatingPane {
    position: absolute;
    overflow: visible;		/* so drop shadow is displayed */
    z-index: 10;
    border: 1px solid;
    border-color: ThreeDHighlight ThreeDShadow ThreeDShadow ThreeDHighlight;
    background-color: ThreeDFace;
}

/********** Title Bar ****************/
.dojoFloatingPaneTitleBar {
	margin: 2px 2px 2px 2px;
	z-index: 10;
	background-image: url("../../images/entryBarBlack.png");
	cursor: default;
	overflow: hidden;
	border-color: ThreeDHighlight ThreeDShadow ThreeDShadow ThreeDHighlight;
	vertical-align: middle;
}

.dojoFloatingPaneTitleText {
	float: left;
	padding: 4px 4px 4px 4px;
	white-space: nowrap;
    color: #FFFFFF;
    font: small-caption;
}

.dojoTitleBarIcon {
	float: left;
	height: 22px;
	width: 22px;
	vertical-align: middle;
	margin-right: 5px;
	margin-left: 5px;
}

.dojoFloatingPaneActions{
	float: right;
	position: absolute;
	right: 2px;
	top: 2px;
	vertical-align: middle;
}

.dojoFloatingPaneActionItem {
	vertical-align: middle;
	margin-right: 1px;
	height: 22px;
	width: 22px;
}

.dojoFloatingPaneTitleBarIcon {
	float: left;
	margin-left: 2px;
	margin-right: 4px;
	height: 22px;
}

.dojoFloatingPaneMinimizeIcon, .dojoFloatingPaneMaximizeIcon, .dojoFloatingPaneRestoreIcon, .dojoFloatingPaneCloseIcon {
	vertical-align: middle;
	height: 22px;
	width: 22px;
	float: right;
}
.dojoFloatingPaneMinimizeIcon { background-image: url(../../js/dojo/src/widget/templates/images/floatingPaneMinimize.gif); }
.dojoFloatingPaneMaximizeIcon { background-image: url(../../js/dojo/src/widget/templates/images/floatingPaneMaximize.gif); }
.dojoFloatingPaneRestoreIcon { background-image: url(../../js/dojo/src/widget/templates/images/floatingPaneRestore.gif); }
.dojoFloatingPaneCloseIcon { background-image: url(../../js/dojo/src/widget/templates/images/floatingPaneClose.gif); }

/* bar at bottom of window that holds resize handle */
.dojoFloatingPaneResizebar { z-index: 10; height: 13px; background-color: ThreeDFace; }

/************* Client Area ***************/
.dojoFloatingPaneClient {
	position: relative;
	background-color: White;
	padding: 8px;
	font-family: Verdana, Helvetica, Garamond, sans-serif;
	font-size: 12px;
	overflow: auto;
}

/* Accordion menu bar*/
.menuBar { width: 95%; color: white; font-size: 11px; font-weight: bold; background: #878787; vertical-align: middle;
    padding: 3px 3px 3px 5px; margin: 3px 3px 3px 3px; border: 1px solid #878787; }
.menuBar a { color: #FFFFFF; text-decoration: none; }
.menuBar a:hover { color: #FFFFFF; text-decoration: underline; }
.menuUl { margin: 0; padding: 0; list-style: none; }
.menuUl li { margin: 5px 22px 5px 20px; padding: 0 5px 0 5px; font-weight: bold; font-size: 11px; }
/*End of accordion menu classes*/

.searchBox{ margin: 5px; padding: 5px; border: 1px solid #878787; }
.label{ text-align: left; padding: 3px 3px 3px 3px; }
.labelRight{ text-align: right; padding: 3px 3px 3px 3px; }
div.insert { background: #D6D6D6; border: 1px solid #878787; }

.tfBackground{ background-color:#D6D6D6; }
/** Dojo DND/Avatar **/
.dojoDndItem { padding: 3px; }
.dojoDndItemOver { background: #ededed; cursor: pointer; }
.dojoDndItemSelected { background: #ccccff; color: #444444; }
.dojoDndItemAnchor { background: #ccccff; color: black; }
.dojoDndItemOver .dojoDndItemSelected { background: #ededed; } 
.dojoDndItemOver .dojoDndItemAnchor { background: #ededed; }
.dojoDndItemBefore { border-top: 2px solid #369; }
.dojoDndItemAfter { border-bottom: 2px solid #369; }
.dojoDndAvatar { border: 2px solid #cccccc; font-size: 75%; -moz-border-radius: 8pt 8pt; radius: 8pt; }
.dojoDndAvatarHeader { background: #aaaaaa; }
.dojoDndAvatarItem { background: #ffffff; border-bottom: 1px solid #666666; }