 .groupIcon {
        background-image: url('../images/ticketSettings/location.gif');
        width: 16px;
        height: 16px;
    }

    .categoryIcon {
        background-image: url('../images/ticketSettings/category.gif');
        width: 16px;
        height: 16px;
    }

    .categoryOptionIcon {
        background-image: url('../images/ticketSettings/categoryOption.gif');
        width: 16px;
        height: 16px;
    }