.topheader {
    height:43px;
}

.message {
    text-align: center;
}

.message .redmessage {
    margin: 20px;
    font-family:Verdana, Arial, Helvetica, sans-serif;
    color: red;
    font-size: 22px;
    font-weight: bold;
}

.explanation {
    font-family:Verdana, Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: bold;
}

.message img {
    vertical-align: middle;
}