#already_complete, #complete {
    text-align: center;
}

#already_complete p, #complete p {
    margin: 20px;
    font-family:Verdana, Arial, Helvetica, sans-serif;
    font-size: 22px;
    font-weight: bold;
}

#already_complete p {
    color: red;
}

#complete p {
    color: green;
}

#already_complete p img {
    vertical-align: middle;
}

#survey {
    text-align:center;
    width:700px;
    margin-top: 50px;
    margin-left:auto;
    margin-right:auto;
    border: 2px black solid;
    background-color:#CCCCCC;
    padding: 20px;
}

.survey_table {
    width: 100%;
    padding: 22px;
    text-align: left;
}

td.question {
    width: 60%;
}

.survey_table input[type=radio] {
    margin-left: 20px;
}

