table.paged {
    border: 0;
    padding: 0 5px;
    border-collapse: collapse;
    width: 100%;
}

table.paged th, table.paged td {
    padding: 3px;
    white-space: nowrap;
}

tr {
    font-size: 10px;
}

.even {
    background: #eeeeff;
    color: #666666;
}

.odd {
    background: white;
    color: #666666
}

.title {
    text-align: left;
}

.title, .title a {
    color: #878787;
    background: #D6D6D6;
}

.title select, .title input {
    font-size: 9px;
    width: auto;
    border-width: 1px;
}

.title a {
    text-decoration: none;
    font-size: 10px
}

.title th {
    text-align: left;
    white-space: nowrap;
}

.title td {
    text-align: left;
}

.pager a {
    text-decoration: none;
    color: #878787;
}

.pager {
    color: gray;
}

.section {
    overflow: auto;
    font-size: 10px;
    border-bottom: 1px solid #9a9a9a;
    margin-bottom: 10px;
    padding: 6px 0;
    width: 100%
}

.section.end {
    border-bottom: none !important;
}

.section input, .section select {
    font-size: 10px;
}

.column {
    float: left;
    width: 49%;
}

.column div {
    margin: 5px 0;
    height: 15px;
}

.right {
    text-align: right;
    clear: right;
}