/**
 * Styles for the planning block
 */
 
.planning {
	margin-bottom: 1.667em;
	border: 1px solid #999999;
	}
	.planning:last-child {
		margin-bottom: 0;
	}
	/* IE class */
	.planning.last-child {
		margin-bottom: 0;
	}
	.planning.no-margin,
	.content-columns .planning {
		border: none;
	}
	.content-columns .planning {
		margin-bottom: 0;
	}
	.planning > li {
		height: 2.5em;
		line-height: 2.5em;
		padding-left: 15em;
		background: #f2f2f2;
		vertical-align: bottom; /* IE7 list gap fix */
	}
	.planning > li:nth-child(odd) {
		background: #e6e6e6;
	}
	/* IE class */
	.planning > li.odd {
		background: #e6e6e6;
	}
	.planning > li.planning-header {
		background: #a4a4a4 url(../../images/theme/old-browsers-bg/planning-header-bg.png) repeat-x top;
		-webkit-background-size: 100% 100%;
		-moz-background-size: 100% 100%;
		-o-background-size: 100% 100%;
		background-size: 100% 100%;
		background: -moz-linear-gradient(
			top,
			#cccccc,
			#a4a4a4
		);
		background: -webkit-gradient(
			linear,
			left top, left bottom,
			from(#cccccc),
			to(#a4a4a4)
		);
		border-top: 1px solid white;
		border-bottom: 1px solid #828282;
		color: white;
	}
	.planning > li > span,
	.planning > li > a {
		display: block;
		height: 2.5em;
		line-height: 2.5em;
		float: left;
		margin-left: -15em;
		width: 14em;
		padding: 0 0.5em;
		color: #333333;
		}
		.planning > li > span {
			color: #999999;
		}
		.planning > li > a:hover {
			background: #CCCCCC;
		}
		.planning > li > span img,
		.planning > li > a img {
			margin-bottom: -3px;
		}
		.planning > li.planning-header > span {
			width: 13.5em;
			padding: 0 0.75em;
			-moz-text-shadow: 0 1px 2px rgba(0, 0, 0, 0.7);
			-webkit-text-shadow: 0 1px 2px rgba(0, 0, 0, 0.7);
			text-shadow: 0 1px 2px rgba(0, 0, 0, 0.7);
			color: white;
			}
			.planning > li.planning-header > span b {
				display: block;
				height: 2.5em;
				margin: 0 -0.75em;
				padding: 0 0.75em;
				border-left: 1px solid #dddddd;
				border-right: 1px solid #999999;
			}
	.planning > li > ul {
		position: relative;
		height: 2.5em;
		border-left: 1px dotted #808080;
		background: white;
		}
		.planning > li:nth-child(odd) > ul {
			background: #f2f2f2;
		}
		/* IE class */
		.planning > li.odd > ul {
			background: #f2f2f2;
		}
		.planning > li.planning-header > ul {
			border-left: 1px solid white;
			background: none;
		}
		.planning > li > ul > li {
			position: absolute;
			top: 0.5em;
			height: 1.5em;
			-moz-border-radius: 0.167em;
			-webkit-border-radius: 0.167em;
			-webkit-background-clip: padding-box;
			border-radius: 0.167em;
			background: #e5e5e5 url(../../images/theme/old-browsers-bg/planning-bar-bg.png) repeat-x top;
			-webkit-background-size: 100% 100%;
			-moz-background-size: 100% 100%;
			-o-background-size: 100% 100%;
			background-size: 100% 100%;
			background: -moz-linear-gradient(
				top,
				#ffffff,
				#eeeeee 15%,
				#c2c2c2 73%,
				#e5e5e5
			);
			background: -webkit-gradient(
				linear,
				left top, left bottom,
				from(#ffffff),
				to(#e5e5e5),
				color-stop(0.15, #eeeeee),
				color-stop(0.73, #c2c2c2)
			);
			}
			.planning > li.planning-header > ul > li {
				width: 2em;
				top: auto;
				height: auto;
				text-align: center;
				margin-left: -1em;
				-moz-text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.25);
				-webkit-text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.25);
				text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.25);
				background: none;
			}
			.planning > li.planning-header > ul > li:nth-child(even) {
				font-size: 0.75em;
			}
			/* IE class */
			.planning > li.planning-header > ul > li.even {
				font-size: 0.75em;
			}
			.planning > li > ul > li.lunch,
			.planning > li > ul > li.zebras {
				-webkit-background-size: auto;
				-moz-background-size: auto;
				-o-background-size: auto;
				background-size: auto;
				background: #f2f2f2;
				top: 0;
				height: 2.5em;
				-moz-border-radius: 0;
				-webkit-border-radius: 0;
				-webkit-background-clip: padding-box;
				border-radius: 0;
			}
			.planning > li:nth-child(odd) > ul > li.lunch {
				background: #e6e6e6;
			}
			/* IE class */
			.planning > li.odd > ul > li.lunch {
				background: #e6e6e6;
			}
			.planning > li > ul > li.zebras {
				border-left: 1px solid #ccc;
				border-right: 1px solid #ccc;
			}
			.planning > li > ul.zebras,
			.planning > li > ul > li.zebras {
				background: white url(../../images/theme/zebras.png);
			}
			.planning > li > ul > li.current-time {
				background: none;
				top: 0;
				height: 2.5em;
				-moz-border-radius: 0;
				-webkit-border-radius: 0;
				-webkit-background-clip: padding-box;
				border-radius: 0;
				width: 0;
				border-left: 1px solid red;
			}
			.planning > li > ul > li > a,
			.planning > li > ul > li > span {
				display: block;
				position: absolute;
				left: 0;
				right: 0;
				top: 0;
				bottom: 0;
				color: #666666;
				text-indent: 0.333em;
				font-family: Arial, Helvetica, sans-serif;
				font-size: 0.92em;
				line-height: 1.45em;
				border: 1px solid #666666;
				-moz-border-radius: 0.25em;
				-webkit-border-radius: 0.25em;
				-webkit-background-clip: padding-box;
				border-radius: 0.25em;
				-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
				-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
				box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
				white-space: nowrap;
				overflow: hidden;
				}
				.planning > li > ul > li > a span,
				.planning > li > ul > li > span span {
					display: block;
					position: absolute;
					left: 0;
					top: 0;
					bottom: 0;
					width: 100%;
					white-space: nowrap;
					overflow: hidden;
				}
			
			.planning > li > ul > li.milestone {
				background: #333;
				top: 0.75em;
				height: 0.833em;
				width: 0.833em;
				margin-left: -0.5em;
				border: 0.083em solid;
				border-color: #999 #000 #000 #999;
				-webkit-transform: rotate(45deg);
				-moz-transform: rotate(45deg);
				-o-transform: rotate(45deg);
				transform: rotate(45deg);
				}
				.planning > li > ul > li.milestone > a,
				.planning > li > ul > li.milestone > span {
					border: 0;
				}
			

.planning > li > ul .event-blue,
.planning > li > ul .event-green,
.planning > li > ul .event-orange,
.planning > li > ul .event-purple,
.planning > li > ul > li.event-blue a,
.planning > li > ul > li.event-green a,
.planning > li > ul > li.event-orange a,
.planning > li > ul > li.event-purple a,
.planning > li > ul > li.event-blue span,
.planning > li > ul > li.event-green span,
.planning > li > ul > li.event-orange span,
.planning > li > ul > li.event-purple span {
	color: white;
	-webkit-background-size: 100% 100%;
	-moz-background-size: 100% 100%;
	-o-background-size: 100% 100%;
	background-size: 100% 100%;
	-moz-text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
	-webkit-text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
	text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
}
.planning > li > ul .event-blue {
	background: #4398c9 url(../../images/theme/old-browsers-bg/planning-bar-blue-bg.png) repeat-x top;
	background: -moz-linear-gradient(
		top,
		#b0cde5,
		#6ec3e3 15%,
		#0e62a8 73%,
		#4398c9
	);
	background: -webkit-gradient(
		linear,
		left top, left bottom,
		from(#b0cde5),
		to(#4398c9),
		color-stop(0.15, #6ec3e3),
		color-stop(0.73, #0e62a8)
	);
}
.planning > li > ul .event-green {
	background: #56c943 url(../../images/theme/old-browsers-bg/planning-bar-green-bg.png) repeat-x top;
	background: -moz-linear-gradient(
		top,
		#b3e6b1,
		#8ae46f 15%,
		#15a80e 73%,
		#56c943
	);
	background: -webkit-gradient(
		linear,
		left top, left bottom,
		from(#b3e6b1),
		to(#56c943),
		color-stop(0.15, #8ae46f),
		color-stop(0.73, #15a80e)
	);
}
.planning > li > ul .event-orange {
	background: #c99c43 url(../../images/theme/old-browsers-bg/planning-bar-orange-bg.png) repeat-x top;
	background: -moz-linear-gradient(
		top,
		#e6d4b1,
		#e4bd6f 15%,
		#a8750e 73%,
		#c99c43
	);
	background: -webkit-gradient(
		linear,
		left top, left bottom,
		from(#e6d4b1),
		to(#c99c43),
		color-stop(0.15, #e4bd6f),
		color-stop(0.73, #a8750e)
	);
}
.planning > li > ul .event-purple {
	background: #b543c9 url(../../images/theme/old-browsers-bg/planning-bar-purple-bg.png) repeat-x top;
	background: -moz-linear-gradient(
		top,
		#e3b1e6,
		#c86fe4 15%,
		#a10ea8 73%,
		#b543c9
	);
	background: -webkit-gradient(
		linear,
		left top, left bottom,
		from(#e3b1e6),
		to(#b543c9),
		color-stop(0.15, #c86fe4),
		color-stop(0.73, #a10ea8)
	);
}

.planning .from-7-30, .planning .at-7-30 { left: 0; }
.planning .from-7-45, .planning .at-7-45 { left: 1.92%; }
.planning .from-8, .planning .at-8, .planning .from-8-00, .planning .at-8-00 { left: 3.85%; }
.planning .from-8-15, .planning .at-8-15 { left: 5.77%; }
.planning .from-8-30, .planning .at-8-30 { left: 7.69%; }
.planning .from-8-45, .planning .at-8-45 { left: 9.62%; }
.planning .from-9, .planning .at-9, .planning .from-9-00, .planning .at-9-00 { left: 11.54%; }
.planning .from-9-15, .planning .at-9-15 { left: 13.46%; }
.planning .from-9-30, .planning .at-9-30 { left: 15.38%; }
.planning .from-9-45, .planning .at-9-45 { left: 17.31%; }
.planning .from-10, .planning .at-10, .planning .from-10-00, .planning .at-10-00 { left: 19.23%; }
.planning .from-10-15, .planning .at-10-15 { left: 21.15%; }
.planning .from-10-30, .planning .at-10-30 { left: 23.08%; }
.planning .from-10-45, .planning .at-10-45 { left: 25%; }
.planning .from-11, .planning .at-11, .planning .from-11-00, .planning .at-11-00 { left: 26.92%; }
.planning .from-11-15, .planning .at-11-15 { left: 28.85%; }
.planning .from-11-30, .planning .at-11-30 { left: 30.77%; }
.planning .from-11-45, .planning .at-11-45 { left: 32.69%; }
.planning .from-12, .planning .at-12, .planning .from-12-00, .planning .at-12-00 { left: 34.62%; }
.planning .from-12-15, .planning .at-12-15 { left: 36.54%; }
.planning .from-12-30, .planning .at-12-30 { left: 38.46%; }
.planning .from-12-45, .planning .at-12-45 { left: 40.38%; }
.planning .from-13, .planning .at-13, .planning .from-13-00, .planning .at-13-00 { left: 42.31%; }
.planning .from-13-15, .planning .at-13-15 { left: 44.23%; }
.planning .from-13-30, .planning .at-13-30 { left: 46.15%; }
.planning .from-13-45, .planning .at-13-45 { left: 48.08%; }
.planning .from-14, .planning .at-14, .planning .from-14-00, .planning .at-14-00 { left: 50%; }
.planning .from-14-15, .planning .at-14-15 { left: 51.92%; }
.planning .from-14-30, .planning .at-14-30 { left: 53.85%; }
.planning .from-14-45, .planning .at-14-45 { left: 55.77%; }
.planning .from-15, .planning .at-15, .planning .from-15-00, .planning .at-15-00 { left: 57.69%; }
.planning .from-15-15, .planning .at-15-15 { left: 59.62%; }
.planning .from-15-30, .planning .at-15-30 { left: 61.54%; }
.planning .from-15-45, .planning .at-15-45 { left: 63.46%; }
.planning .from-16, .planning .at-16, .planning .from-16-00, .planning .at-16-00 { left: 65.38%; }
.planning .from-16-15, .planning .at-16-15 { left: 67.31%; }
.planning .from-16-30, .planning .at-16-30 { left: 69.23%; }
.planning .from-16-45, .planning .at-16-45 { left: 71.15%; }
.planning .from-17, .planning .at-17, .planning .from-17-00, .planning .at-17-00 { left: 73.08%; }
.planning .from-17-15, .planning .at-17-15 { left: 75%; }
.planning .from-17-30, .planning .at-17-30 { left: 76.92%; }
.planning .from-17-45, .planning .at-17-45 { left: 78.85%; }
.planning .from-18, .planning .at-18, .planning .from-18-00, .planning .at-18-00 { left: 80.77%; }
.planning .from-18-15, .planning .at-18-15 { left: 82.69%; }
.planning .from-18-30, .planning .at-18-30 { left: 84.62%; }
.planning .from-18-45, .planning .at-18-45 { left: 86.54%; }
.planning .from-19, .planning .at-19, .planning .from-19-00, .planning .at-19-00 { left: 88.46%; }
.planning .from-19-15, .planning .at-19-15 { left: 90.38%; }
.planning .from-19-30, .planning .at-19-30 { left: 92.31%; }
.planning .from-19-45, .planning .at-19-45 { left: 94.23%; }
.planning .from-20, .planning .at-20, .planning .from-20-00, .planning .at-20-00 { left: 96.15%; }
.planning .from-20-15, .planning .at-20-15 { left: 98.08%; }

.planning .to-7-30 { right: 100%; }
.planning .to-7-45 { right: 98.08%; }
.planning .to-8, .planning .to-8-00 { right: 96.15%; }
.planning .to-8-15 { right: 94.23%; }
.planning .to-8-30 { right: 92.31%; }
.planning .to-8-45 { right: 90.38%; }
.planning .to-9, .planning .to-9-00 { right: 88.46%; }
.planning .to-9-15 { right: 86.54%; }
.planning .to-9-30 { right: 84.62%; }
.planning .to-9-45 { right: 82.69%; }
.planning .to-10, .planning .to-10-00 { right: 80.77%; }
.planning .to-10-15 { right: 78.85%; }
.planning .to-10-30 { right: 76.92%; }
.planning .to-10-45 { right: 75%; }
.planning .to-11, .planning .to-11-00 { right: 73.08%; }
.planning .to-11-15 { right: 71.15%; }
.planning .to-11-30 { right: 69.23%; }
.planning .to-11-45 { right: 67.31%; }
.planning .to-12, .planning .to-12-00 { right: 65.38%; }
.planning .to-12-15 { right: 63.46%; }
.planning .to-12-30 { right: 61.54%; }
.planning .to-12-45 { right: 59.62%; }
.planning .to-13, .planning .to-13-00 { right: 57.69%; }
.planning .to-13-15 { right: 55.77%; }
.planning .to-13-30 { right: 53.85%; }
.planning .to-13-45 { right: 51.92%; }
.planning .to-14, .planning .to-14-00 { right: 50%; }
.planning .to-14-15 { right: 48.08%; }
.planning .to-14-30 { right: 46.15%; }
.planning .to-14-45 { right: 44.23%; }
.planning .to-15, .planning .to-15-00 { right: 42.31%; }
.planning .to-15-15 { right: 40.38%; }
.planning .to-15-30 { right: 38.46%; }
.planning .to-15-45 { right: 36.54%; }
.planning .to-16, .planning .to-16-00 { right: 34.62%; }
.planning .to-16-15 { right: 32.69%; }
.planning .to-16-30 { right: 30.77%; }
.planning .to-16-45 { right: 28.85%; }
.planning .to-17, .planning .to-17-00 { right: 26.92%; }
.planning .to-17-15 { right: 25%; }
.planning .to-17-30 { right: 23.08%; }
.planning .to-17-45 { right: 21.15%; }
.planning .to-18, .planning .to-18-00 { right: 19.23%; }
.planning .to-18-15 { right: 17.31%; }
.planning .to-18-30 { right: 15.38%; }
.planning .to-18-45 { right: 13.46%; }
.planning .to-19, .planning .to-19-00 { right: 11.54%; }
.planning .to-19-15 { right: 9.62%; }
.planning .to-19-30 { right: 7.69%; }
.planning .to-19-45 { right: 5.77%; }
.planning .to-20, .planning .to-20-00 { right: 3.85%; }
.planning .to-20-15 { right: 1.92%; }