@import url( "/sites/all/modules/dojo/dtk_build/dijit/themes/tundra/../dijit.css" );

#aggregator             .feed-source
.feed-title {
    margin-top: 0;
}

#aggregator      .feed-source     .feed-image      img {
    margin-bottom: 0.75em;
}

#aggregator     .feed-source
.feed-icon {
    float: right;
    display: block;
}

#aggregator                                       .feed-item {
    margin-bottom: 1.5em;
}

#aggregator
.feed-item-title {
    margin-bottom: 0;
    font-size: 1.3em;
}

#aggregator                                           .feed-item-meta, #aggregator
.feed-item-body {
    margin-bottom: 0.5em;
}

#aggregator                                 .feed-item-categories {
    font-size: 0.9em;
}

#aggregator
td {
    vertical-align: bottom;
}

#aggregator      td.categorize-item {
    white-space: nowrap;
}

#aggregator      .categorize-item      .news-item
.body {
    margin-top: 0;
}

#aggregator                                                                                    .categorize-item
h3 {
    margin-bottom: 1em;
    margin-top: 0;
}

code.geshifilter {
    display: inline;
    padding: 0;
    margin: 0;
    border: none;
}

pre.geshifilter, div.geshifilter {
    display: block;
    padding: 0.5em;
    margin: 0.5em;
    border: 1px solid #ccc;
    background-color: #ffe;
}

div.geshifilter              ol {
    margin: 0px;
}

body {
    font-size: 13px;
    font-family: "Lucida Grande "," Verdana ",sans-serif;background-color:#1f1f1f;background-image:url(/sites/all/themes/dtk/./img/dojo-bg.png);background-repeat:repeat-x;margin:0;padding:0;}a{color:#164587;text-decoration:none;}a:hover{text-decoration:underline;}img{border:0;}fieldset{border:0;border-top:1px solid #ccc;
    border-bottom: 1px solid #ccc;
    background-color: #f3f3f3;
    margin: 2em 0;
}

fieldset
legend {
    font-size: 1.0em;
    font-weight: bold;
}

fieldset        ul {
    font-size: 0.9em;
    margin: 0 1em;
}

fieldset.collapsible        legend
a {
    padding-left: 14px;
    background: url( /sites/all/themes/dtk/img/menu-expanded.gif ) no-repeat 0% 50%;
}

fieldset.collapsed   legend
a {
    background: url( /sites/all/themes/dtk/img/menu-collapsed.gif ) no-repeat 0% 50%;
}

.hidden {
    overflow: hidden;
    position: absolute;
    height: 1px;
    width: 1px;
    top: -9px;
}

.content-block {
    position: relative;
    padding: 5px 10px;
}

div.geshifilter {
    font-size: 1.2em !important;
}

a.feed-icon {
    display: block;
    text-align: right;
}

#main-container {
    padding: 1.5em;
    padding-bottom: 0;
    border-bottom: 1px solid #c1c1c1;
    font-size: 0.95em;
}

#main-container   td {
    font-size: 0.95em;
}

#main-container    td   table   td {
    font-size: 100%;
}

#main-container
h2, h3 {
    margin: 0;
    margin-top: 1.5em;
    color: #232323;
}

#main-container                                  h2 {
    font-size: 1.1em;
}

#main-container
h3 {
    font-size: 1.0em;
}

#main-container    p, li {
    line-height: 1.5em;
}

#main-container   p {
    margin: 0;
    margin-bottom: 1.5em;
}

div#main-container
div#tabs-wrapper {
}

div#main-container   div#tabs-wrapper  h2.with-tabs {
    margin: 0;
    padding: 0;
    font-size: 1.25em;
    border-bottom: 1px solid #ccc;
}

div#main-container                  div#tabs-wrapper                  ul.tabs {
    display: block;
    border: 1px solid #ddf;
    background-color: #eef;
    text-align: left;
    margin: 0;
    padding: 0.25em 1em;
    padding-top: 0.1em;
}

div#main-container    div#tabs-wrapper
ul.tabs    li {
    display: inline;
    padding: 0.5em 1em;
    font-size: 0.8em;
    font-weight: bold;
}

div#main-container    div#tabs-wrapper   ul.tabs
li.active {
    background-color: #bcf;
}

div#main-container                  div#tabs-wrapper                   ul.tabs                  li
a {
}

#sidebar_right_container {
    position: absolute;
    top: 1.5em;
    right: 20px;
    width: 260px;
    min-height: 200px;
    background-color: #e8e8e8;
    padding: 1em;
}

#sidebar_right_container
h2 {
    font-size: 1.25em;
    color: #454545;
}

#content-block {
    color: #454545;
    background-color: #fff;
    position: relative;
}

.clear {
    clear: both;
    height: 0px;
    line-height: 1px;
}

#after-content-block-1 {
    zoom: 1;
}

#after-content-block-2 {
    zoom: 1;
}

#block-user-1
h2.title {
    display: none;
}

#logo-block
#search-block {
    position: absolute;
    height: 32px;
    width: auto;
    top: 0;
    right: 0;
    background-image: url( /sites/all/themes/dtk/./img/banner-right.png );
    background-repeat: no-repeat;
    background-position: bottom right;
    padding-right: 20px;
    color: #fff;
}

#search-block
input {
    font-size: 1em;
}

#search {
    margin-top: 5px;
    background: url( /sites/all/themes/dtk/./img/search-bg.gif ) no-repeat top right;
    padding: 0;
    border-bottom: 1px solid #989898;
}

#search              .form-submit {
    background: transparent url( /sites/all/themes/dtk/./img/search-btn.gif ) no-repeat;
    border: none;
    display: block;
    height: 18px;
    left: 4px;
    position: absolute;
    text-indent: -4em;
    top: 4px;
    width: 14px;
}

#search
.form-item {
    display: block;
    padding: 2px 8px 0 18px;
    position: relative;
    margin: 0;
    background: url( /sites/all/themes/dtk/./img/search-bg.gif ) no-repeat 0 -100px;
}

#search
input#edit-search-theme-form-keys {
    background: transparent;
    border: none;
    line-height: 1em;
    height: 1.3em;
    font-size: 0.87em;
    padding-top: 0;
    padding-bottom: 0;
    width: 8em;
}

.view-content
table {
    margin: 0;
    margin-top: 2em;
}

.view-content-tracker        table         td {
    vertical-align: top;
}

.view-content-tracker        table
.view-field-node-type {
    width: 10%;
    font-size: 0.9em;
    padding: 0.5em 0.25em;
}

.view-content-tracker                  table
.view-field-node-title {
    width: 45%;
    padding: 0.5em 0.25em;
}

.view-content-tracker table  .view-field-users-name {
    width: 20%;
    padding: 0.5em 0.25em;
}

.view-content-tracker                                                                                                 table
.view-field-node-comment-statistics-comment-count {
    text-align: center;
    width: 10%;
    font-size: 0.9em;
    padding: 0.5em 0.25em;
}

.view-content-tracker                                                                                                 table
.view-field-node-comment-statistics-last-comment-timestamp {
    text-align: right;
    width: 15%;
    font-size: 0.9em;
    padding: 0.5em 0.25em;
}

#forum
ul {
    display: block;
    text-align: right;
    margin: 0;
    margin-bottom: 2em;
    padding: 0;
    border-top: 1px solid #ccc;
}

#forum         ul
li {
    display: inline;
    padding: 0 0.5em;
    font-size: 0.8em;
}

.view    table, #forum    table {
    font-size: 14px;
    border-collapse: collapse;
}

table
tr.odd {
    background-color: #eee;
}

.view               table              tr               td, #forum              table               tr
td {
    padding: 1em;
    color: #262626;
    line-height: 1.4em;
    vertical-align: top;
}

#forum table tr th, #forum table tr th {
    font-size: 0.85em;
    padding: 0 1em;
    border-bottom: 1px solid #ccc;
}

.view table  tr th a  img, #forum table  tr th a  img {
    border: 0;
    padding: 0 0.25em;
}

#forum  table tr
td.container {
    padding: 0.5em 1em;
    border-bottom: 1px solid #7a7a7a;
}

#forum       table        tr       td.container
div.name {
    font-weight: bold;
    margin-top: 3em;
}

#forum  table  tr td.container  div.name  a {
    color: #262626;
}

#forum  table tr  td.container
div.description {
    display: none;
    margin: 0;
    color: #454545;
    font-size: 0.9em;
}

#forum table tr td.title, #forum table tr td.forum, #forum table
tr td.topics, #forum table tr  td.posts, #forum table tr td.topic, #forum table tr td.replies, #forum  table tr td.created, #forum table
tr  td.last-reply {
    font-size: 0.9em;
    color: #454545;
}

#forum  table  tr  td.forum div.name {
    font-weight: bold;
}

#forum  table  tr  td.forum
div.description {
    margin: 0;
    font-size: 1.0em;
}

div.pager {
    border-top: 1px solid #ccc;
    padding-top: 1em;
    text-align: right;
    font-size: 0.85em;
}

div.pager          strong.pager-current {
    padding: 0 0.35em;
}

div.pager
a.pager-first, div.pager   a.pager-previous, div.pager   a.pager-next, div.pager  a.pager-last {
    padding: 0 0.35em;
}

div.node {
    margin: 1em 0;
    padding: 0.75em;
}

div.node       div.submitted {
    text-align: right;
    border-bottom: 1px solid #ccc;
    font-size: 0.8em;
}

div.node
div.taxonomy {
}

div.comment        div.links         ul.links, div.node        div.links         ul.links, div.node        div.taxonomy
ul.inline {
    display: block;
    margin: 0;
    padding: 0;
}

div.comment             div.links            ul.links, div.node             div.taxonomy
ul.inline {
    text-align: right;
}

div.comment  div.links  ul.links  li, div.node  div.links ul.links  li, div.node  div.taxonomy  ul.inline
li {
    display: inline;
    padding: 0 0.5em;
    font-size: 0.8em;
}

div.box  div.content, div.node div.content {
    margin: 1em 0;
    font-size: 0.9em;
}

div.node
div.content  div.forum-topic-navigation {
    margin: 1em 0;
    border: 0;
    border-top: 1px solid #ccc;
    position: relative;
}

div.node  div.content
div.forum-topic-navigation              a.topic-previous, div.node               div.content              div.forum-topic-navigation
a.topic-next {
    display: block;
    position: absolute;
    font-size: 0.95em;
    width: 48%;
    top: 0;
}

div.node    div.content   div.forum-topic-navigation
a.topic-previous {
    left: 0;
    text-align: left;
}

div.node                       div.content                      div.forum-topic-navigation
a.topic-next {
    text-align: right;
    right: 0;
}

div.comment    div.links, div.node   div.links {
    text-align: left;
    margin: 2em 0;
    padding: 0.35em 1em;
    border: 1px solid #ccc;
    background-color: #eee;
}

div#comments {
}

div#comments   div.comment {
    margin: 3em 0 2em 0;
}

div#comments
div.indented {
    margin: 2em;
    margin-right: 0;
    padding-left: 2em;
    border-left: 1px solid #ccc;
}

div.comment
h3.title {
    text-align: left;
    font-style: normal;
    font-weight: bold;
    margin: 0;
    padding: 0;
    border-bottom: 1px solid #ccc;
    font-size: 1em;
}

td.view-field-node-title               span.marker {
    display: inline;
    font-size: 0.8em;
    border: 1px solid #ccc;
    background-color: #ff7;
    padding: 0.25em 0.5em;
}

div.comment           span.new {
    display: inline;
    border: 1px solid #ccc;
    background-color: #ff3;
    padding: 0 0.5em;
}

div.comment          div.submitted {
    display: inline;
    font-size: 0.8em;
}

div.comment
div.content {
    margin: 1.5em 0 0 0;
    font-size: 0.9em;
}

div.box {
}

div.box  h2.title {
    margin: 0;
    border-bottom: 1px solid #ccc;
}

#content-block
.form-item {
    padding: 0.25em;
    font-size: 0.9em;
    margin-bottom: 0.5em;
}

#content-block                                            .form-item
label {
    font-weight: bold;
    color: #454545;
}

#content-block                       input.form-submit {
    border: 1px solid #bbb;
    background-color: #ddd;
    margin: 0.5em;
}

#content-block .form-item input.form-text {
    width: 100%;
    border: 1px solid #999;
}

#content-block
.form-item      div.resizable-textarea {
}

#content-block      .form-item      textarea.form-textarea {
    width: 100%;
    border: 1px solid #999;
    height: 200px;
}

div.box                                       div.preview {
    border: 1px solid #ccc;
    font-size: 1.1em;
    background-color: #eee;
    padding: 0.5em;
    margin-bottom: 2em;
}

div.box                                     div.preview
div.links {
    border: 0;
    background-color: inherit;
}

div.box
div.content {
    font-size: 1.0em;
}

table.comment-form-layout {
    font-size: 1em;
    width: 100%;
}

table.comment-form-layout
td.comment-label {
}

table.comment-form-layout                   input.input-text {
    width: 99%;
    font-size: 1.1em;
}

table.comment-form-layout
textarea {
    width: 100%;
    height: 300px;
    font-size: 1.1em;
    font-family: sans-serif;
    overflow: auto;
}

div.book-navigation   ul.menu {
    border-top: 1px solid #ccc;
}

div.book-navigation                    div.page-links {
    border: 0;
    border-top: 1px solid #ccc;
}

div#block-menu-572 {
    font-size: 0.85em;
    margin: 0.75em;
    padding: 0 0.75em;
    margin-top: 2em;
    border-right: 1px solid #ccc;
}

div#block-menu-572  h2.title {
    display: none;
}

div#block-menu-572  ul.menu {
    margin: 0;
    margin-left: 1em;
    padding: 0;
}

div#block-menu-572
ul.menu   li.expanded {
    font-weight: bold;
}

div#block-menu-572   ul.menu  li.collapsed {
    font-weight: normal;
}

div#block-menu-572   ul.menu
li.leaf {
    font-weight: normal;
}

table  tr.bookMasthead   th, table  td.bookMasthead {
    padding-top: 1.5em;
    font-weight: bold;
    border-bottom: 1px solid #ccc;
    text-align: left;
}

table    td.bookAttributeName {
    padding: 0.5em;
    font-weight: bold;
    color: #232323;
    vertical-align: top;
}

table
td.bookAttributeDatatype {
    padding: 0.5em;
    font-size: 0.9em;
    font-style: italic;
    color: #232323;
    vertical-align: top;
}

table
td.bookAttributeDescription {
    padding: 0.5em;
    font-size: 0.9em;
    line-height: 1.5em;
    color: #454545;
    vertical-align: top;
}

table
td.bookMethodSignature {
    padding: 0.5em;
    font-size: 1.1em;
    font-family: monospace;
    vertical-align: top;
}

table
td.bookMethodDescription {
    padding: 0.5em;
    font-size: 0.9em;
    line-height: 1.5em;
    color: #454545;
    vertical-align: top;
}

table
td.bookExtensionPointSignature {
    padding: 0.5em;
    font-size: 1.1em;
    font-family: monospace;
    vertical-align: top;
}

table
td.bookExtensionPointDescription {
    padding: 0.5em;
    font-size: 0.9em;
    line-height: 1.5em;
    color: #454545;
    vertical-align: top;
}

table
td.bookA11yMeaning {
    padding: 0.5em;
    font-style: italic;
    vertical-align: top;
}

table
td.bookA11yKeystroke {
    padding: 0.5em;
    vertical-align: top;
}

#dash-core-banner {
    background-image: url( http://dojotoolkit.org/files/sales-banner-core.jpg );
    background-repeat: no-repeat;
}

#dash-core-main
div.dash-sales-content {
    background-image: url( http://dojotoolkit.org/files/sales-banner-core-reflect.jpg );
    background-repeat: no-repeat;
}

#dash-dijit-banner {
    background-image: url( http://dojotoolkit.org/files/sales-banner-dijit.jpg );
    background-repeat: no-repeat;
}

#dash-dijit-main
div.dash-sales-content {
    background-image: url( http://dojotoolkit.org/files/sales-banner-dijit-reflect.jpg );
    background-repeat: no-repeat;
}

#dash-dojox-banner {
    background-image: url( http://dojotoolkit.org/files/sales-banner-dojox.jpg );
    background-repeat: no-repeat;
}

#dash-dojox-main
div.dash-sales-content {
    background-image: url( http://dojotoolkit.org/files/sales-banner-dojox-reflect.jpg );
    background-repeat: no-repeat;
}

#dash-index-content {
    width: 100%;
    margin: 0 auto;
    margin-top: -2em;
}

#dash-index-content
p.index-intro {
    font-size: 1.5em;
    color: #454545;
    margin: 0;
    margin-bottom: 1em;
}

#dash-index-content
p.index-tagline {
    font-size: 1.5em;
    color: #232323;
    font-weight: bold;
    margin: 0;
    margin-bottom: 1em;
}

#dash-index-content
.dash-index-projects {
    width: 100%;
    margin: 0;
    position: relative;
    height: 180px;
}

#dash-index-content
.dash-index-project {
    position: absolute;
    width: 270px;
}

#dash-index-content                                          .dash-index-project
.dash-index-icon {
    text-indent: -5000px;
    width: 100%;
    height: 61px;
    background-repeat: no-repeat;
    cursor: pointer;
    cursor: hand;
}

#dash-index-content
.dash-index-project   .dash-index-project-copy {
    font-size: 1.0em;
}

#dash-index-content  .dash-index-project   .dash-index-project-copy
h3 {
}

#dash-index-content                                 .dash-index-project                                .dash-index-project-copy
p {
    color: #555;
    margin: 0;
    margin-bottom: 0.75em;
}

#dash-index-content             .dash-index-project            .dash-index-project-copy
.dash-index-project-link {
    font-size: 0.95em;
}

#dash-index-core-block {
    left: 0;
}

#dash-index-core-icon {
    background-image: url( /sites/all/themes/dtk/img/core-home.png );
}

#dash-index-dijit-block {
    left: 300px;
}

#dash-index-dijit-icon {
    background-image: url( /sites/all/themes/dtk/img/dijit-home.png );
}

#dash-index-dojox-block {
    left: 600px;
}

#dash-index-dojox-icon {
    background-image: url( /sites/all/themes/dtk/img/dojox-home.png );
}

#dash-index-content
.dash-index-other {
}

#dash-index-content     .dash-index-other     h3 {
    margin: 0;
    margin-top: 0.5em;
    font-size: 1.15em;
}

#dash-index-content
.dash-index-other ul {
    margin: 0;
    margin-top: 0.5em;
}

#dash-index-content  .dash-index-other ul li {
    line-height: 1.5em;
}

#dash-index-content
.dash-index-other     ul     li     a {
}

#dash-index-content    .dash-index-other     ul     li     a:hover {
}

div.feed-item {
    margin: 1em 0;
    padding: 0.75em;
    font-size: 0.9em;
    color: #454545;
}

div.feed-item
h3.feed-item-title {
    margin: 0;
    margin-top: 1em;
    font-size: 1em;
    font-weight: bold;
    border-bottom: 1px solid #ccc;
    color: #232323;
}

div.feed-item
div.feed-item-meta {
    font-size: 0.9em;
}

div.feed-item                   div.feed-item-body {
    margin: 2em 0;
}

div.feed-item
div.feed-item-categories {
    border-top: 1px solid #ccc;
}

#showcase-block {
    width: auto;
    height: 220px;
    font-size: 0.9em;
}

#showcase-block
.showcase-wrapper-div {
    position: relative;
    overflow: visible;
    height: 180px;
}

#showcase-block
.showcase-recent-site {
    position: absolute;
    height: 210px;
    width: 298px;
}

#showcase-block       .odd {
    background-color: #eee;
}

#showcase-block
.showcase-recent-thumbnail {
    position: relative;
    width: 120px;
    height: 120px;
    padding: 1em 0;
}

#showcase-block
.showcase-recent-site-copy {
    position: absolute;
    width: 148px;
    padding: 1em;
    top: 0;
    right: 0;
}

#showcase-block           .showcase-recent-site
h3 {
    margin: 0;
    font-size: 1.0em;
}

#showcase-block    .showcase-recent-site   p {
    color: #454545;
    margin: 0;
    margin-bottom: 1em;
}

#showcase-block
.showcase-recent-site                                            p.showcase-tagline {
    color: #232323;
    font-weight: bold;
}

#showcase-block
.showcase-recent-site-link {
    text-align: right;
    padding-right: 1em;
}

#after-content-block {
    padding: 1em;
}

#after-content-block
h2.title {
    margin: 0;
    margin-top: 1em;
    font-size: 1.0em;
    padding-bottom: 1em;
}

#banner-bottom-bar {
    background: url( "/sites/all/themes/dtk/img/banner-bottom-bg.gif" ) repeat-x bottom left #494949;
    font-size: 0.85em !important;
    border-top: 1px solid #222;
    border-bottom: 1px solid #222;
    color: #fff;
}

.node-unpublished {
    background-color: #fff4f4;
}

.preview            .node {
    background-color: #ffffea;
}

#node-admin-filter
ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 100%;
}

#node-admin-buttons {
    float: left;
    margin-left: 0.5em;
    clear: right;
}

td.revision-current {
    background: #ffc;
}

.node-form
.form-text {
    display: block;
    width: 95%;
}

.node-form          .container-inline          .form-text {
    display: inline;
    width: auto;
}

.node-form
.standard {
    clear: both;
}

.node-form                      textarea {
    display: block;
    width: 95%;
}

.node-form                     .attachments
fieldset {
    float: none;
    display: block;
}

.view-content      .node {
    margin: 0.3em 0 0.5em 0;
    padding: 8px;
    border: 1px solid #eee;
    border-bottom-width: 2px;
}

.view-content   .node  h2.title {
}

.view-content   .node  .title   a:link, .view-content  .node   .title
a:visited {
    color: #333;
    text-decoration: none;
}

.view-content                                .node                                .title
a:hover {
    text-decoration: underline;
}

#login-block, #body-block, #logo-block, #global-menu-block, #content-block, #main-block, #main-container, #news-block, #navigation-block, #main-menu-block, #menu-footer-block, #footer-block {
    position: relative;
}

.dj_ie
#login-block, .dj_ie  #body-block, .dj_ie   #logo-block, .dj_ie  #global-menu-block, .dj_ie   #content-block, .dj_ie  #main-block, .dj_ie
#main-container, .dj_ie     #news-block, .dj_ie     #navigation-block, .dj_ie    #main-menu-block, .dj_ie     #menu-footer-block, .dj_ie
#footer-block {
    zoom: 1;
}

#page-block {
    width: 960px;
    margin: 0 auto;
}

#login-block, #footer-block {
    color: #fff;
    font-size: 0.75em;
    margin: 0.75em 20px;
}

#login-block {
    text-align: right;
}

#login-block   span {
    padding: 0 0.5em;
    text-transform: lowercase;
}

#login-block   a, #footer-block
a {
    color: #fff;
    text-decoration: none;
}

#login-block        a:hover, #footer-block       a:hover {
    text-decoration: underline;
}

#user-header {
    display: none;
}

#footer-block
#crystal-block {
    position: absolute;
    top: 0;
    right: 0;
}

#logo-block {
    height: 2em;
    min-height: 32px;
    background-image: url( /sites/all/themes/dtk/./img/banner-bg.png );
    background-repeat: repeat-x;
    border-bottom: 1px solid #878787;
}

.dj_ie6                                     #logo-block {
    height: 32px;
}

#logo-block
#dojo-logo {
    display: block;
    height: 32px;
    width: 172px;
    background: url( /sites/all/themes/dtk/./img/banner-logo.png ) no-repeat;
}

#dojo-logo
#dojo-logo-img {
    display: block;
    height: 32px;
    width: 152px;
    margin-left: 15px;
}

#global-menu-block {
    height: 1.5em;
    min-height: 24px;
    padding: 0;
    background-color: #d3d3d3;
    background-image: url( /sites/all/themes/dtk/./img/top-menu-bg.png );
    background-repeat: repeat-x;
    background-position: bottom left;
    border-bottom: 1px solid #7a7a7a;
    font-size: 0.8em;
    text-transform: lowercase;
    color: #262626;
}

.dj_ie6
#global-menu-block {
    height: 24px;
}

#global-menu-block
ul {
    position: absolute;
    height: 1.5em;
    min-height: 24px;
    top: 0;
    right: 0;
    display: block;
    margin: 0;
    padding: 5px 0;
    padding-right: 12px;
    background-image: url( /sites/all/themes/dtk/./img/top-menu-full-bg.png );
    background-repeat: no-repeat;
    background-position: top right;
}

.dj_ie6  #global-menu-block ul {
    height: 24px;
}

#global-menu-block  ul li {
    display: inline;
}

#global-menu-block  ul li  a {
    padding: 0 1em;
    color: #262626;
    text-decoration: none;
}

#global-menu-block    ul   li    a:hover {
    text-decoration: underline;
}

#global-menu-block   ul
li#nav-fullmenu {
    padding-left: 1em;
    font-weight: bold;
    background-repeat: no-repeat;
}

#global-menu-block                                ul
li#nav-fullmenu.opened {
    background-image: url( /sites/all/themes/dtk/img/fullmenu-opened.gif );
    background-position: 0.8em 0;
}

#global-menu-block                                                                                                            ul
li#nav-fullmenu.closed {
    background-image: url( /sites/all/themes/dtk/img/fullmenu-closed.gif );
    background-position: 0.9em 0;
}

#banner-block                                                                                     #section-heading, #banner-block
#section-subheading, #banner-block, #projects-block {
    position: relative;
    margin: 0;
    padding: 0;
}

#banner-block {
    width: 960px;
    height: 64px;
}

#banner-block
#section-heading, #banner-block                                                 #section-subheading {
    position: absolute;
}

#banner-block
#section-heading {
    top: 0;
    left: 0;
    width: 600px;
    height: 64px;
    margin-left: -5000px;
    background-repeat: no-repeat;
}

#banner-block {
    background-repeat: no-repeat;
}

#banner-block
#section-subheading {
    top: 40px;
    margin-top: -1em;
    right: 25px;
    width: 360px;
}

#banner-block
p {
    margin: 0;
    color: #fff;
    font-size: 0.92em;
    text-align: right;
}

#banner-block.banner-default {
    background-image: url( /sites/all/themes/dtk/./img/section-banner-default.jpg );
}

#banner-block.banner-about {
    background-image: url( /sites/all/themes/dtk/./img/section-banner-about.jpg );
}

#banner-block.banner-demos {
    background-image: url( /sites/all/themes/dtk/./img/section-banner-demos.jpg );
}

#banner-block.banner-downloads {
    background-image: url( /sites/all/themes/dtk/./img/section-banner-downloads.jpg );
}

#banner-block.banner-docs {
    background-image: url( /sites/all/themes/dtk/./img/section-banner-docs.jpg );
}

#banner-block.banner-support {
    background-image: url( /sites/all/themes/dtk/./img/section-banner-support.jpg );
}

#banner-block.banner-community {
    background-image: url( /sites/all/themes/dtk/./img/section-banner-community.jpg );
}

#banner-block.banner-admin {
    background-image: url( /sites/all/themes/dtk/./img/section-banner-admin.jpg );
}

#top-breadcrumb-block
a, #navigation-block               a {
    color: white;
    text-decoration: none;
}

#top-breadcrumb-block               a:hover, #navigation-block
a:hover {
    text-decoration: underline;
}

#top-breadcrumb-block, #breadcrumb-block {
    font-size: 0.85em;
    border-top: 1px solid #222;
    border-bottom: 1px solid #222;
    background-color: #4c4c4c;
    background-image: url( /sites/all/themes/dtk/./img/breadcrumb-bg.png );
    background-repeat: repeat-x;
    color: #fff;
}

#breadcrumbs {
    padding: 0.5em 1.0em;
}

#top-breadcrumb-block {
    padding: 0.5em 1.5em;
    background-color: #555;
    border-top: 1px solid #444;
    border-bottom: 1px solid #444;
    background-position: bottom left;
}

#top-breadcrumb-block   a {
    color: #eee;
}

#main-menu-block, #main-menu-block-top {
    border-top: 1px solid #545454;
    border-bottom: 1px solid #222;
    background-color: #353535;
    background-image: url( /sites/all/themes/dtk/./img/main-nav-bg.png );
    background-repeat: repeat-x;
    font-size: 0.8em;
    line-height: 1.65em;
    padding: 1em 1.5em;
}

#menu-footer-block {
    border-top: 1px solid #545454;
    position: relative;
    height: 32px;
    background-image: url( /sites/all/themes/dtk/./img/tab-footer-bg.png );
    background-repeat: repeat-x;
}

#menu-footer-block
#menu-footer-left {
    position: absolute;
    top: 0;
    left: 0;
    height: 32px;
    width: 20px;
    background-image: url( /sites/all/themes/dtk/./img/tab-footer-left.png );
    background-repeat: no-repeat;
}

#menu-footer-block
#menu-footer-right {
    position: absolute;
    top: 0;
    right: 0;
    height: 32px;
    width: 20px;
    background-image: url( /sites/all/themes/dtk/./img/tab-footer-right.png );
    background-repeat: no-repeat;
}

.cols-abcd
.col, #main-menu-block-top.cols-abcd                             .block-menu, #navigation-block                            .cols-abcd
.block-menu {
    float: left;
    min-height: 8em;
    width: 25%;
    position: relative;
}

.cols-abcde                 .col, #main-menu-block-top.cols-abcde
.block-menu, #navigation-block  .cols-abcde  .block-menu {
    float: left;
    min-height: 8em;
    width: 20%;
    position: relative;
}

#main-menu-block-top
*, #main-menu-block  * {
    color: #fff;
    background: transparent;
}

#main-menu-block-top   .block-menu  .content, #main-menu-block  .block-menu
.content {
    padding: 0 15px 10px 0.3em;
}

#main-menu-block-top  li  a, #main-menu-block  li a {
    display: block;
    margin: 0;
    padding: 0 0 0.1em 0;
    font-weight: bold;
}

#main-menu-block-top    li    li    a, #main-menu-block   li    li    a {
    font-weight: normal;
}

#main-menu-block-top
ul, #main-menu-block   ul {
    margin: 0;
    padding: 0 0 0.5em 0;
    list-style-type: none;
}

#main-menu-block-top   ul  li, #main-menu-block   ul
li {
    list-style-type: none;
    list-style-image: none;
    margin: 0;
    line-height: 1.2em;
    padding: 0.3em 0;
}

#main-menu-block-top  .block-menu ul.menu
li.expanded, #main-menu-block .block-menu ul.menu li.expanded {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

#main-menu-block-top .block-menu
ul.menu   ul, #main-menu-block   .block-menu   ul.menu   ul {
    margin-top: 0.25em;
}

#main-menu-block-top  .block-menu   ul   ul   li.leaf
a, #main-menu-block  .block-menu ul  ul li.leaf  a {
    color: #ccc;
}

.b100 .col-a, .cols-wide  .col-a {
    display: none;
}

.b100 .col-b, .cols-wide
.col-b {
    float: left;
    width: 100%;
    min-height: 8em;
    position: relative;
}

.b100        .col-c, .cols-wide       .col-c {
    display: none;
}

.a25b50c25
.col-a, .cols-narrow-wide-narrow               .col-a {
    float: left;
    width: 25%;
    _width: 24.9%;
    min-height: 8em;
    position: relative;
}

.a25b50c25
.col-b, .cols-narrow-wide-narrow                            .col-b {
    float: left;
    width: 50%;
    min-height: 8em;
    position: relative;
}

.a25b50c25
.col-c, .cols-narrow-wide-narrow                  .col-c {
    float: left;
    width: 25%;
    _width: 24.9%;
    min-height: 8em;
    position: relative;
}

.b70c30
.col-a, .cols-wide-narrow                         .col-a {
    display: none;
}

.cols-b70c30                         .col-b, .cols-wide-narrow
.col-b {
    float: left;
    width: 70%;
    min-height: 8em;
    position: relative;
}

.cols-b70c30                 .col-c                 .cols-wide-narrow
.col-c {
    float: left;
    width: 30%;
    _width: 29.9%;
    min-height: 8em;
    position: relative;
}

.cols-a30b70                    .col-a, .cols-narrow-wide
.col-a {
    float: left;
    width: 30%;
    _width: 29.9%;
    min-height: 8em;
    position: relative;
}

.cols-a30b70                    .col-b, .cols-narrow-wide
.col-b {
    float: left;
    width: 70%;
    min-height: 8em;
    position: relative;
}

.cols-a30b70                                 .col-c, .cols-narrow-wide
.col-c {
    display: none;
}

.cols-a50b50    .col-a, .cols-a50b50   .col-b {
    float: left;
    min-height: 8em;
    width: 50%;
    position: relative;
}

.cols-abcd
.col {
    float: left;
    min-height: 8em;
    width: 25%;
    position: relative;
}

.cols-abcde
.col {
    float: left;
    min-height: 8em;
    width: 20%;
    position: relative;
}

.book-navigation  .menu {
    border-top: 1px solid #888;
    padding: 1em 0 0 3em;
}

.book-navigation             .page-links {
    border-top: 1px solid #888;
    border-bottom: 1px solid #888;
    text-align: center;
    padding: 0.5em;
}

.book-navigation
.page-previous {
    text-align: left;
    width: 42%;
    display: block;
    float: left;
}

.book-navigation                               .page-up {
    margin: 0 5%;
    width: 4%;
    display: block;
    float: left;
}

.book-navigation
.page-next {
    text-align: right;
    width: 42%;
    display: block;
    float: right;
}

#banner-block, #projects-block {
    position: relative;
    margin: 0;
    padding: 0;
}

#banner-block {
    width: 960px;
    height: 232px;
}

#banner-block
#section-heading, #banner-block                                              #big-links {
    position: absolute;
}

#banner-block.banner-home
#section-heading {
    top: 0;
    left: 0;
    width: 600px;
    height: 232px;
    margin-left: 0;
    background-image: url( /sites/all/themes/dtk/./img/sellit.png );
    background-repeat: no-repeat;
}

#banner-block.banner-home
#section-heading                                                               p {
    margin-left: -5000px;
    text-align: left;
}

#banner-block
#big-links {
    top: 0;
    right: 0;
    width: 360px;
    height: 232px;
}

#banner-block                    #big-links                   ul, #projects-block
ul {
    display: block;
    margin: 0;
    padding: 0;
}

#banner-block #big-links  ul li, #projects-block ul  li {
    display: block;
}

#banner-block #big-links
ul       li       a {
    display: block;
    width: 360px;
    text-indent: -5000px;
}

#banner-block      #big-links       ul       #big-links-download
a {
    height: 78px;
    background-image: url( /sites/all/themes/dtk/./img/sell-download.png );
    background-repeat: no-repeat;
}

#banner-block
#big-links                                                    ul                                                   #big-links-demos
a {
    height: 78px;
    background-image: url( /sites/all/themes/dtk/./img/sell-action.png );
    background-repeat: no-repeat;
}

#banner-block
#big-links                                                ul                                               #big-links-documentation
a {
    height: 76px;
    background-image: url( /sites/all/themes/dtk/./img/sell-docs.png );
    background-repeat: no-repeat;
}

#latest-news-block {
    font-size: 1em;
    margin: 0;
    margin-top: -1em;
    padding: 0 1em;
}

#latest-news-block             .latest-news-entry {
    margin: 2em 0;
}

#latest-news-block             .latest-news-entry
h3 {
    margin: 0;
    margin-top: 1em;
    font-size: 0.9em;
}

#latest-news-block  .latest-news-entry p {
    margin: 0;
    margin-bottom: 1em;
}

#latest-news-block
.latest-news-entry  .latest-news-teaser {
    font-size: 0.85em;
    margin: 0.5em 0;
    line-height: 1.5em;
}

#latest-news-block  .latest-news-entry
.latest-news-info {
    position: relative;
    border-top: 1px solid #ccc;
    font-size: 0.75em;
}

#latest-news-block      .latest-news-entry
.latest-news-info              .latest-news-date {
}

#latest-news-block              .latest-news-entry              .latest-news-info
.latest-news-comments {
    position: absolute;
    top: 0;
    right: 0;
}

#latest-news-block                            .more-link, #latest-forum-block
.more-link {
    text-align: right;
    font-size: 0.9em;
}

#latest-forum-block {
    font-size: 0.9em;
    margin: 0;
    margin-top: -0.5em;
    padding: 0 1em;
}

#latest-forum-block           .latest-forum-entry {
    margin: 1.5em 0;
}

#latest-forum-block           .latest-forum-entry
.post-title {
    font-weight: bold;
}

#latest-forum-block    .latest-forum-entry    .post-teaser, #latest-forum-block    .latest-forum-entry
.last-comment {
    line-height: 1.5em;
    font-size: 0.9em;
}

#latest-forum-block                                            .latest-forum-entry
.entry-info {
    position: relative;
    font-size: 0.85em;
    border-top: 1px solid #ccc;
}

#latest-forum-block   .latest-forum-entry  .entry-info
.entry-author {
}

#latest-forum-block                                  .latest-forum-entry                                 .entry-info
.entry-details {
    text-align: right;
}

#news-block {
    padding: 1em;
    border-top: 1px solid #e0e0e0;
}

#news-block
table {
    width: 100%;
    font-size: 0.85em;
}

html            body {
    text-align: left;
}

fieldset           legend {
    display: block;
}

.dijitEditorInner
body {
    background: none;
}

.dijitEditor {
    border: solid 1px #999;
}

.dijitEditor        table {
    margin: 0;
    width: auto;
}

.dijitEditor
td, th {
    padding: 0;
}

table.dojoGoogleMapsKeyTable  input {
    width: 100%;
}

span  >  table {
    margin: 0;
    width: auto;
}

.dojoSvnTree {
    border: solid 1px #666;
    height: 250px;
    overflow: auto;
}

.dojoSvnTree         table {
    margin: 0;
}

.dojoSvnTree        .dijitTreeLabel {
    padding: 1px;
}

.dojoSvnTree
.dijitTreeLabelFocused {
    background-color: #f5f5f5;
}

.dojoSvnTreeFolderOpened {
    background: url( /sites/all/modules/dojo/folder.gif ) no-repeat 0px top;
    height: 18px;
    width: 18px;
}

.dojoSvnTreeFolderClosed {
    background: url( /sites/all/modules/dojo/folder.gif ) no-repeat 0px bottom;
    height: 18px;
    width: 18px;
}

.dojoSvnOutput {
    border: solid 1px #666;
    height: 300px;
    overflow: auto;
    white-space: nowrap;
}

.dijitDialogBox {
    background-color: #fff;
    border: 1px solid #999;
    -moz-border-radius: 8px;
    padding: 12px;
    position: absolute;
    z-index: 999;
}

.dijitDialogBox
span.Indicator {
    color: #666;
    background: url( /sites/all/modules/dojo/indicator.gif ) no-repeat left 0;
    display: block;
    font-size: 16px;
    height: 24px;
    line-height: 26px;
    padding-left: 30px;
    overflow: hidden;
}

.dojoCustomizeToolbar:after {
    clear: both;
}

.dojoCustomizeToolbar
div {
    float: left;
    margin-right: 10px;
}

.dojoCustomizeToolbar                            .list {
    border: solid 1px #999;
    height: 260px;
    overflow: auto;
    width: 175px;
}

.dojoCustomizeToolbar
.dijitEditorIcon {
    display: block;
    float: left;
    margin-right: 5px;
}

.dojoCustomizeToolbar
ul {
    list-style-type: none;
    margin: 0;
    padding: 1px;
}

.dojoCustomizeToolbar
li {
    background: none;
    cursor: pointer;
    list-style-type: none;
    list-style-image: none;
    margin: 0;
    padding: 1px 1px 1px 5px;
}

.dojoCustomizeToolbar    li.selected {
    background-color: #3366ff;
    border: dotted 1px #fff;
    color: #FFF;
    padding: 0px 0px 0px 4px;
}

.dojoCustomizeToolbar .buttonColumn {
    padding-top: 100px;
}

.dojoCustomizeToolbar .button {
    margin-bottom: 10px;
    width: 90px;
}

.dj_safari
.tundra    .dijitPopup {
    -webkit-box-shadow: 0px 5px 10px #adadad;
}

.tundra     .dijitPopup    div, .tundra    .dijitPopup
table {
    opacity: 0.95;
}

.tundra .dijitButtonNode {
    border: 1px solid #9b9b9b;
    vertical-align: middle;
    padding: 0.2em 0.2em;
    background: #e9e9e9 url( "/sites/all/modules/dojo/dtk_build/dijit/themes/tundra/images/buttonEnabled.png" ) repeat-x top;
}

.dj_ie       .tundra
.dijitButtonNode {
    zoom: 1;
    padding-bottom: 0.1em;
}

.tundra                                                              .dijitButtonNode
* {
    display: -moz-inline-box;
    display: inline-block;
    vertical-align: middle;
}

.dj_ie                .tundra                .dijitButtonNode
* {
    zoom: 1;
    display: inline;
}

.tundra  .dijitButtonText {
    padding: 0 0.3em;
}

.tundra  .dijitComboBox .dijitButtonNode, .tundra  .dijitSpinner
.dijitButtonNode {
    border: 0px;
    padding: 1px .4em;
}

.tundra       .dijitA11yDownArrow, .tundra        .dijitDownArrowButton, .tundra
.dijitUpArrowButton {
    font-size: 0.75em;
    color: #848484;
}

.tundra              .dijitButtonDisabled              .dijitButtonNode, .tundra
.dijitToggleButtonDisabled .dijitButtonNode, .tundra .dijitDropDownButtonDisabled .dijitButtonNode, .tundra .dijitComboButtonDisabled
.dijitButtonNode, .tundra   .dijitComboBoxDisabled, .tundra  .dijitSpinnerDisabled, .tundra   .dijitSpinnerDisabled  .dijitButtonNode {
    border: 1px solid #d5d5d5;
    background: #e4e4e4 url( "/sites/all/modules/dojo/dtk_build/dijit/themes/tundra/images/buttonDisabled.png" ) top repeat-x;
    opacity: 0.60;
}

.tundra  .dijitButtonDisabled  .dijitButtonNode *, .tundra  .dijitToggleButtonDisabled  .dijitButtonNode
*, .tundra   .dijitDropDownButtonDisabled   .dijitButtonNode    *, .tundra   .dijitComboButtonDisabled   .dijitButtonNode   *, .tundra
.dijitSpinnerDisabled  .dijitButtonNode   * {
    filter: gray( ) alpha( opacity = 50 );
}

.tundra   .dijitButtonHover  .dijitButtonNode, .tundra
.dijitToggleButtonHover   .dijitButtonNode, .tundra    .dijitDropDownButtonHover   .dijitButtonNode, .tundra   .dijitComboButtonHover
.dijitButtonContents, .tundra        .dijitComboButtonDownArrowHover        .dijitDownArrowButton, .tundra        .dijitComboBoxHover
.dijitDownArrowButton, .tundra        .dijitSpinnerUpArrowHover         .dijitUpArrowButton, .tundra        .dijitSpinnerUpArrowHover
.dijitA11yUpArrow, .tundra        .dijitSpinnerDownArrowHover         .dijitA11yDownArrow, .tundra        .dijitSpinnerDownArrowHover
.dijitDownArrowButton {
    border-color: #366dba;
    color: #366dba;
    background: #f1f6fc url( "/sites/all/modules/dojo/dtk_build/dijit/themes/tundra/images/buttonHover.png" ) repeat-x bottom;
}

.tundra
.dijitSpinnerUpArrowActive       .dijitUpArrowButton, .tundra       .dijitSpinnerDownArrowActive       .dijitDownArrowButton, .tundra
.dijitButtonActive    .dijitButtonNode, .tundra    .dijitToggleButtonActive   .dijitButtonNode, .tundra    .dijitDropDownButtonActive
.dijitButtonNode, .tundra  .dijitComboButtonActive .dijitButtonContents, .tundra  .dijitDownArrowActive .dijitDownArrowButton, .tundra
.dijitComboBoxActive                         .dijitDownArrowButton {
    border-color: #366dba;
    background: #ededed url( "/sites/all/modules/dojo/dtk_build/dijit/themes/tundra/images/buttonActive.png" ) bottom repeat-x;
}

.tundra
.dijitToolbar {
    border: 1px solid #9b9b9b;
    background: #e9e9e9 url( "/sites/all/modules/dojo/dtk_build/dijit/themes/tundra/images/buttonEnabled.png" ) repeat-x top;
}

.tundra    .dijitToolbar
* {
    padding: 0px;
    margin: 0px;
}

.dj_ie         .tundra          .dijitToolbar {
    padding-bottom: 1px;
}

.tundra         .dijitToolbar
.dijitButtonNode {
    padding: 0px;
    margin: 0px;
    border: 1px solid transparent;
    background: none;
    _margin: 1px;
    _padding: 0px 1px 0px 1px;
    _border: 0px;
}

.tundra   .dijitToolbar   .dijitToggleButtonChecked   .dijitButtonNode {
    background-color: #C1D2EE;
    border: 1px solid #316AC5;
}

.tundra                                    .dijitToolbar                                    .dijitToggleButtonCheckedHover
.dijitButtonContents {
    border-color: #366dba;
    background-color: transparent;
}

.dj_ie6     .tundra     .dijitToolbar     .dijitButtonNode {
    border-color: #e9e9e9;
}

.tundra  .dijitToolbar   .dijitButtonHover  .dijitButtonNode, .tundra   .dijitToolbar  .dijitToggleButtonHover
.dijitButtonNode, .tundra   .dijitToolbar  .dijitDropDownButtonHover   .dijitButtonNode {
    border-color: #366dba;
    _border: 1px solid #366dba;
    _margin: -1px 0px 0px 0px;
    _padding: 0px;
}

.dijitToolbarSeparator {
    background: url( '/sites/all/modules/dojo/dtk_build/dijit/themes/tundra/images/editor.gif' );
    height: 18px;
    width: 5px;
    padding: 0px 1px 0px 1px;
    margin: 0px;
}

.tundra                              .dijitToolbar
.dijitToolbarSeparator {
    background: url( '/sites/all/modules/dojo/dtk_build/dijit/themes/tundra/images/editor.gif' );
}

.tundra
.dijitComboBox                 .dijitDownArrowButtonChar {
    display: none;
}

.dijit_a11y                 .dijitComboBox
.dijitDownArrowButtonChar {
    display: inline;
}

.tundra                                                                    .dijitComboBox
.dijitDownArrowButtonInner {
    width: 16px;
    height: 16px;
    background: url( "/sites/all/modules/dojo/dtk_build/dijit/themes/tundra/images/arrowDown.png" ) no-repeat center center;
}

.dj_ie6                    .tundra                    .dijitComboBox
.dijitDownArrowButtonInner {
    background-image: url( "/sites/all/modules/dojo/dtk_build/dijit/themes/tundra/images/arrowDown.gif" );
}

.tundra
.dijitComboBoxHover   .dijitDownArrowButtonInner {
}

.tundra    .dijitSpinner   .dijitButtonNode {
    padding: 0 .4em 0 .4em;
}

.tundra
.dijitInputField  INPUT, .tundra .dijitTextBox, .tundra  .dijitComboBox, .tundra .dijitSpinner {
    margin: 0em 0.1em 0.0em 0.1em;
}

.tundra
.dijitTextBox, .tundra .dijitComboBox, .tundra .dijitSpinner, .tundra .dijitInlineEditor input, .tundra .dijitTextArea {
    background: #fff url( "/sites/all/modules/dojo/dtk_build/dijit/themes/tundra/images/validationInputBg.png" ) repeat-x top left;
#background : #fff url ( '/sites/all/modules/dojo/dtk_build/dijit/themes/tundra/images/validationInputBg.gif' ) repeat-x top left;
    border: 1px solid #9b9b9b;
    line-height: normal;
}

.dj_safari  .tundra  INPUT.dijitTextBox {
    padding: 0.15em 0em;
}

.dj_ie  .tundra  INPUT.dijitTextBox, .dj_ie
.tundra  TD.dijitInputField, .dj_ie  .tundra  .dijitInputField INPUT {
    height: 1.2em;
}

.tundra  .dijitComboBox  .dijitButtonNode, .tundra
.dijitSpinner  .dijitButtonNode {
    border-left: 1px solid #9b9b9b;
}

.tundra  .dijitSpinner .dijitDownArrowButton {
    border-top: 1px solid #9b9b9b;
}

.tundra  .dijitTextBoxFocused, .tundra  .dijitComboBoxFocused, .tundra  .dijitSpinnerFocused {
    border-color: #366dba;
}

.tundra
.dijitComboBoxFocused   .dijitButtonNode, .tundra  .dijitSpinnerFocused   .dijitButtonNode {
    border-left: 1px solid #366dba;
}

.tundra
.dijitSpinnerFocused       .dijitDownArrowButton {
    border-top: 1px solid #366dba;
}

.tundra       .dijitTextBoxError, .tundra
.dijitComboBoxError, .tundra  .dijitSpinnerError {
    border: 1px solid #f3d118;
    background-color: #f9f7ba;
    background-image: none;
}

.dj_ie6
.tundra   .dijitTextBoxError   input, .dj_ie6   .tundra   .dijitComboBoxError  input, .dj_ie6   .tundra   .dijitSpinnerError   input {
    background-color: #f9f7ba !important;
}

.tundra       .dijitTextBoxErrorFocused, .tundra       .dijitComboBoxErrorFocused, .tundra
.dijitSpinnerErrorFocused {
    background-color: #ff6;
    background-image: none;
}

.dj_ie6   .tundra  .dijitTextBoxErrorFocused   input, .dj_ie6
.tundra .dijitComboBoxErrorFocused input, .dj_ie6 .tundra .dijitSpinnerErrorFocused input {
    background-color: #ff6 !important;
}

.tundra
.dijitValidationIcon {
    display: block;
    width: 16px;
    height: 16px;
    background-repeat: no-repeat;
    background-image: url( '/sites/all/modules/dojo/dtk_build/dijit/themes/tundra/images/warning.png' );
    visibility: hidden;
}

.tundra
.dijitValidationIconText {
    display: none;
}

.tundra       .dijitTextBoxError      .dijitValidationIcon, .tundra       .dijitComboBoxError
.dijitValidationIcon, .tundra      .dijitSpinnerError       .dijitValidationIcon {
    visibility: visible;
}

.tundra      .dijitToggleButton
.dijitCheckBox, .tundra  .dijitToggleButton  .dijitRadio, .tundra  .dijitToggleButton  .dijitCheckBoxIcon, .tundra  .dijitToggleButton
.dijitRadioIcon {
    background-image: url( '/sites/all/modules/dojo/dtk_build/dijit/themes/tundra/images/checkmarkNoBorder.gif' );
}

.tundra
.dijitCheckBox, .tundra                .dijitRadio, .tundra                .dijitCheckBoxIcon, .tundra                .dijitRadioIcon {
    background-image: url( '/sites/all/modules/dojo/dtk_build/dijit/themes/tundra/images/checkmark.gif' );
    background-repeat: no-repeat;
    width: 16px;
    height: 16px;
    overflow: visible;
    margin: 0;
    padding: 0;
}

.tundra              .dijitCheckBox, .tundra
.dijitToggleButton  .dijitCheckBoxIcon {
    background-position: -16px;
}

.tundra  .dijitCheckBoxChecked, .tundra .dijitToggleButtonChecked
.dijitCheckBoxIcon {
    background-position: 0px;
}

.tundra       .dijitCheckBoxDisabled {
    background-position: -48px;
}

.tundra
.dijitCheckBoxCheckedDisabled {
    background-position: -32px;
}

.tundra      .dijitCheckBoxHover, .tundra      .dijitCheckBoxFocused {
    background-position: -80px;
}

.tundra                 .dijitCheckBoxCheckedHover, .tundra                 .dijitCheckBoxCheckedFocused {
    background-position: -64px;
}

.tundra  .dijitRadio, .tundra   .dijitToggleButton  .dijitRadioIcon {
    background-position: -112px;
}

.tundra
.dijitRadioChecked, .tundra          .dijitToggleButtonChecked          .dijitRadioIcon {
    background-position: -96px;
}

.tundra
.dijitRadioCheckedDisabled {
    background-position: -128px;
}

.tundra    .dijitRadioDisabled {
    background-position: -144px;
}

.tundra
.dijitRadioHover, .tundra       .dijitRadioFocused {
    background-position: -176px;
}

.tundra       .dijitRadioCheckedHover, .tundra
.dijitRadioCheckedFocused {
    background-position: -160px;
}

.tundra  .dijitMenu {
    border: 1px solid #9b9b9b;
    margin: 0px;
    padding: 0px;
}

.tundra
.dijitMenuItem {
    background-color: #f7f7f7;
    font: menu;
    margin: 0;
}

.tundra                                .dijitMenuPreviousButton, .tundra
.dijitMenuNextButton {
    font-style: italic;
}

.tundra                        .dijitMenuItem                       TD {
    padding: 2px;
}

.tundra
.dijitMenuItemHover {
    background-color: #808080;
    color: #fff;
}

.tundra        .dijitMenuItemIcon {
    width: 16px;
    height: 16px;
}

.tundra
.dijitMenuExpand {
    display: none;
}

.tundra                                                                     .dijitMenuExpandEnabled {
    width: 16px;
    height: 16px;
    background: url( '/sites/all/modules/dojo/dtk_build/dijit/themes/tundra/images/arrowRight.png' ) no-repeat center center;
    display: block;
}

.dj_ie6                                            .tundra
.dijitMenuExpandEnabled {
    background-image: url( '/sites/all/modules/dojo/dtk_build/dijit/themes/tundra/images/arrowRight.gif' );
}

.tundra
.dijitMenuExpandInner {
    display: none;
}

.tundra                                   .dijitMenuSeparator {
    background-color: #f7f7f7;
}

.tundra
.dijitMenuSeparatorTop {
    border-bottom: 1px solid #9b9b9b;
}

.tundra .dijitMenuSeparatorBottom {
    border-top: 1px solid #e8e8e8;
}

.tundra
.dijitTitlePane                                                          .dijitTitlePaneTitle {
    background: #cccccc;
    background: #fafafa url( "/sites/all/modules/dojo/dtk_build/dijit/themes/tundra/images/titleBarBg.gif" ) repeat-x bottom left;
    border: 1px solid #bfbfbf;
    padding: 4px 4px 2px 4px;
    cursor: pointer;
}

.tundra .dijitTitlePane .dijitArrowNode {
    width: 16px;
    height: 16px;
    float: right;
}

.tundra
.dijitTitlePane                                                                                                        .dijitClosed
.dijitArrowNode {
    background: url( '/sites/all/modules/dojo/dtk_build/dijit/themes/tundra/images/arrowRight.png' ) no-repeat center center;
}

.tundra    .dijitTitlePaneFocused   .dijitTitlePaneTextNode {
    text-decoration: underline;
}

.dj_ie6    .tundra   .dijitTitlePane
.dijitClosed
.dijitArrowNode {
    background-image: url( '/sites/all/modules/dojo/dtk_build/dijit/themes/tundra/images/arrowRight.gif' );
}

.tundra
.dijitTitlePane                                                                                                          .dijitOpen
.dijitArrowNode {
    background: url( '/sites/all/modules/dojo/dtk_build/dijit/themes/tundra/images/arrowDown.png' ) no-repeat center center;
}

.dj_ie6                            .tundra                            .dijitTitlePane                            .dijitOpen
.dijitArrowNode {
    background-image: url( '/sites/all/modules/dojo/dtk_build/dijit/themes/tundra/images/arrowDown.gif' );
}

.tundra
.dijitTitlePane                         .dijitArrowNodeInner {
    visibility: hidden;
}

.dijit_a11y                         .dijitTitlePane
.dijitArrowNodeInner {
    visibility: visible;
}

.tundra      .dijitTitlePaneTitle      .dijit
CloseArrowOuter {
    margin-right: 5px;
}

.tundra
.dijitOpen                     .dijitTitlePaneTitle                    .dijitOpenCloseArrowOuter {
    position: relative;
    top: 2px;
}

.tundra
.dijitTitlePaneContentOuter {
    background: #ffffff;
    border: 1px solid #bfbfbf;
    border-top: 1px solid #cddde9;
}

.tundra
.dijitTitlePaneContentInner {
    padding: 10px;
}

.dj_ie6     .tundra    .dijitTitlePaneContentOuter, .dj_ie6     .tundra    .dijitTitlePane
.dijitTitlePaneTitle {
    zoom: 1;
}

.tundra    .dijitClickableRegion {
    background-color: #ffc !important;
}

.tundra    .dijitTabPaneWrapper {
    background: #fff;
    border: 1px solid #ccc;
}

.tundra  .dijitTab {
    line-height: normal;
    margin-right: 5px;
    padding: 0px;
    border: 1px solid #ccc;
    background: #e2e2e2 url( "/sites/all/modules/dojo/dtk_build/dijit/themes/tundra/images/tabEnabled.png" ) repeat-x;
}

.tundra
.dijitAlignLeft          .dijitTab, .tundra          .dijitAlignRight          .dijitTab {
    margin-right: 0px;
    margin-bottom: 5px;
}

.tundra
.dijitTabInnerDiv {
    padding: 6px 10px 4px 10px;
    border-left: 1px solid #fff;
    border-bottom: 1px solid #fff;
}

.tundra .dijitTabHover, .tundra
.dijitTabCloseButtonHover {
    color: #243C5F;
    border-top-color: #92a0b3;
    border-left-color: #92a0b3;
    border-right-color: #92a0b3;
    background: #e2e2e2 url( "/sites/all/modules/dojo/dtk_build/dijit/themes/tundra/images/tabHover.png" ) repeat-x bottom;
}

.dj_ie6       .tundra
.dijitTabHover, .dj_ie6                                                                                                      .tundra
.dijitTabCloseButtonHover {
    background-image: url( "/sites/all/modules/dojo/dtk_build/dijit/themes/tundra/images/tabHover.gif" );
}

.tundra
.dijitTabChecked, .tundra     .dijitTabCloseButtonChecked {
    background-color: #fff;
    border-color: #ccc;
    background-image: none;
}

.tundra
.dijitAlignTop                                        .dijitTabChecked, .tundra                                       .dijitAlignTop
.dijitTabCloseButtonChecked {
    border-bottom-color: white;
    vertical-align: bottom;
}

.tundra   .dijitAlignBottom   .dijitTabChecked, .tundra
.dijitAlignBottom  .dijitTabCloseButtonChecked {
    border-top-color: white;
    -moz-border-radius: 2px 2px 0px 0px;
}

.tundra  .dijitAlignLeft
.dijitTabChecked, .tundra     .dijitAlignLeft     .dijitTabCloseButtonChecked {
    border-right-color: white;
}

.tundra     .dijitAlignRight
.dijitTabChecked, .tundra       .dijitAlignRight        .dijitTabCloseButtonChecked {
    border-left-color: white;
}

.tundra       .dijitTab
.dijitClosable {
    position: relative;
    padding: 6px 20px 4px 10px;
}

.tundra         .dijitTab         .dijitClosable
.closeImage {
    position: absolute;
    top: 7px;
    right: 3px;
    height: 12px;
    width: 12px;
    padding: 0;
    margin: 0;
    background: url( "/sites/all/modules/dojo/dtk_build/dijit/themes/tundra/images/tabClose.png" ) no-repeat right top;
}

.dj_ie6                     .dijitTab                    .dijitClosable
.closeImage {
    background-image: url( "/sites/all/modules/dojo/dtk_build/dijit/themes/tundra/images/tabClose.gif" );
}

.tundra
.dijitTabCloseButton                                                                                                 .dijitClosable
.closeImage {
    background-image: url( "/sites/all/modules/dojo/dtk_build/dijit/themes/tundra/images/tabClose.png" );
}

.dj_ie6      .tundra
.dijitTabCloseButton                                                                                                 .dijitClosable
.closeImage {
    background-image: url( "/sites/all/modules/dojo/dtk_build/dijit/themes/tundra/images/tabClose.gif" );
}

.tundra
.dijitTabCloseButtonHover                                                                                            .dijitClosable
.closeImage {
    background-image: url( "/sites/all/modules/dojo/dtk_build/dijit/themes/tundra/images/tabCloseHover.png" );
}

.dj_ie6 .tundra
.dijitTabCloseButtonHover                                                                                            .dijitClosable
.closeImage {
    background-image: url( "/sites/all/modules/dojo/dtk_build/dijit/themes/tundra/images/tabCloseHover.gif" );
}

.tundra
.dijitAlignLeft  .dijitTab  .dijitClosable {
    padding: 6px 10px 4px 20px;
}

.dj_ie6  .tundra .dijitAlignLeft  .dijitTab  .dijitClosable
.closeImage {
    left: -20px;
}

.tundra   .dijitAlignBottom  .dijitTab   .dijitClosable  .closeImage {
    top: auto;
    bottom: 7px;
    right: 3px;
}

.tundra
.dijitAlignLeft                   .dijitTab                  .dijitClosable                   .closeImage {
    top: 7px;
    left: 3px;
}

.tundra
.dijitSplitContainerSizerH {
    background: url( "/sites/all/modules/dojo/dtk_build/dijit/themes/tundra/images/splitContainerSizerH.png" ) repeat-y #fff;
    border: 0;
    border-left: 1px solid #bfbfbf;
    border-right: 1px solid #bfbfbf;
    width: 7px;
}

.tundra .dijitSplitContainerSizerH
.thumb {
    background: url( "/sites/all/modules/dojo/dtk_build/dijit/themes/tundra/images/splitContainerSizerH-thumb.png" ) no-repeat #ccc;
    left: 1px;
    width: 3px;
    height: 19px;
}

.tundra
.dijitSplitContainerSizerV {
    background: url( "/sites/all/modules/dojo/dtk_build/dijit/themes/tundra/images/splitContainerSizerV.png" ) repeat-x #fff;
    border: 0;
    border-top: 1px solid #bfbfbf;
    border-bottom: 1px solid #bfbfbf;
    height: 7px;
}

.tundra .dijitSplitContainerSizerV
.thumb {
    background: url( "/sites/all/modules/dojo/dtk_build/dijit/themes/tundra/images/splitContainerSizerV-thumb.png" ) no-repeat #ccc;
    top: 1px;
    width: 19px;
    height: 3px;
}

.tundra  .dijitDialog {
    background: #eee;
    border: 1px solid #999;
    -webkit-box-shadow: 0px 5px 10px #adadad;
}

.tundra     .dijitDialog    .dijitDialogTitle {
    border-top: none;
    border-left: none;
    border-right: none;
}

.tundra     .dijitDialog
.dijitDialogPaneContent {
    background: #ffffff;
    border: none;
    border-top: 1px solid #ccc;
    padding: 10px;
}

.tundra  .dijitDialogTitleBar {
    background: #fafafa url( "/sites/all/modules/dojo/dtk_build/dijit/themes/tundra/images/titleBarBg.gif" ) repeat-x bottom left;
    padding: 4px 8px 2px 4px;
    cursor: move;
    outline: 0;
}

.tundra   .dijitDialogTitle {
    font-weight: bold;
    padding: 8px 12px 8px 12px;
    outline: 0;
}

.tundra                                                                                      .dijitDialogCloseIcon {
    background: url( "/sites/all/modules/dojo/dtk_build/dijit/themes/tundra/images/tabClose.png" ) no-repeat right top;
    float: right;
    position: absolute;
    vertical-align: middle;
    right: 5px;
    top: 5px;
    height: 22px;
    width: 22px;
    cursor: pointer;
}

.dj_ie6    .tundra
.dijitDialogCloseIcon {
    background-image: url( "/sites/all/modules/dojo/dtk_build/dijit/themes/tundra/images/tabClose.gif" );
}

.tundra
.dijitDialogContent {
    padding: 8px;
}

.tundra                .dijitTooltip, .tundra                 .dijitTooltipDialog {
    opacity: 0.95;
    background: transparent;
}

.dijitTooltipBelow {
    padding-top: 13px;
}

.dijitTooltipAbove {
    padding-bottom: 13px;
}

.tundra
.dijitTooltipContainer {
    background-color: #fafafa;
    border: 1px solid #b6c7d5;
    padding: 0.45em;
    border-radius: 6px;
    -moz-border-radius: 7px;
    -webkit-border-radius: 6px;
}

.tundra          .dijitTooltipConnector {
    border: 0px;
    z-index: 2;
}

.tundra       .dijitTooltipABRight       .dijitTooltipConnector {
    left: auto !important;
    right: 3px;
}

.tundra
.dijitTooltipBelow                                                                                          .dijitTooltipConnector {
    top: 0px;
    left: 3px;
    background: url( "/sites/all/modules/dojo/dtk_build/dijit/themes/tundra/images/tooltipConnectorUp.png" ) no-repeat top left;
    width: 16px;
    height: 14px;
}

.dj_ie6                       .tundra                      .dijitTooltipBelow
.dijitTooltipConnector {
    background-image: url( "/sites/all/modules/dojo/dtk_build/dijit/themes/tundra/images/tooltipConnectorUp.gif" );
}

.tundra
.dijitTooltipAbove                                                                                          .dijitTooltipConnector {
    bottom: 0px;
    left: 3px;
    background: url( "/sites/all/modules/dojo/dtk_build/dijit/themes/tundra/images/tooltipConnectorDown.png" ) no-repeat top left;
    width: 16px;
    height: 14px;
}

.dj_ie6               .tundra              .dijitTooltipAbove
.dijitTooltipConnector {
    background-image: url( "/sites/all/modules/dojo/dtk_build/dijit/themes/tundra/images/tooltipConnectorDown.gif" );
}

.tundra
.dijitTooltipLeft {
    padding-right: 13px;
}

.dj_ie6      .tundra     .dijitTooltipLeft {
    padding-right: 15px;
}

.tundra      .dijitTooltipLeft
.dijitTooltipConnector {
    right: 0px;
    bottom: 7px;
    background: url( "/sites/all/modules/dojo/dtk_build/dijit/themes/tundra/images/tooltipConnectorRight.png" ) no-repeat top left;
    width: 16px;
    height: 14px;
}

.dj_ie6              .tundra               .dijitTooltipLeft
.dijitTooltipConnector {
    background-image: url( "/sites/all/modules/dojo/dtk_build/dijit/themes/tundra/images/tooltipConnectorRight.gif" );
}

.tundra
.dijitTooltipRight {
    padding-left: 13px;
}

.tundra                       .dijitTooltipRight                      .dijitTooltipConnector {
    left: 0px;
    bottom: 7px;
    background: url( "/sites/all/modules/dojo/dtk_build/dijit/themes/tundra/images/tooltipConnectorLeft.png" ) no-repeat top left;
    width: 16px;
    height: 14px;
}

.dj_ie6               .tundra              .dijitTooltipRight
.dijitTooltipConnector {
    background-image: url( "/sites/all/modules/dojo/dtk_build/dijit/themes/tundra/images/tooltipConnectorLeft.gif" );
}

.tundra
.dijitAccordionPane-selected {
    background-color: #e7e7e7;
}

.tundra   .dijitAccordionPane    .dijitAccordionTitle {
    background: #fafafa url( "/sites/all/modules/dojo/dtk_build/dijit/themes/tundra/images/titleBar.png" ) repeat-x bottom left;
    border-top: 1px solid #bfbfbf;
    padding: 4px 4px 2px 4px;
}

.tundra      .dijitAccordionPane-selected     .dijitAccordionTitle {
    background: #ededed url( "/sites/all/modules/dojo/dtk_build/dijit/themes/tundra/images/buttonActive.png" ) bottom repeat-x;
    font-weight: bold;
    border-top: 1px solid #aaaaaa;
    padding: 4px 4px 2px 4px;
}

.tundra    .dijitAccordionPaneFocused
.dijitAccordionText {
    text-decoration: underline !important;
}

.tundra                        .dijitAccordionPane
.dijitAccordionArrow {
    background: url( "/sites/all/modules/dojo/dtk_build/dijit/themes/tundra/images/arrowUp.png" ) no-repeat;
    width: 15px;
    height: 15px;
    margin-top: 2px;
}

.dj_ie6                         .tundra                        .dijitAccordionPane
.dijitAccordionArrow {
    background-image: url( "/sites/all/modules/dojo/dtk_build/dijit/themes/tundra/images/arrowUp.gif" );
}

.tundra
.dijitAccordionPane-selected
.dijitAccordionArrow {
    background: url( "/sites/all/modules/dojo/dtk_build/dijit/themes/tundra/images/circleIcon.png" ) no-repeat;
    margin-top: 2px;
}

.dj_ie6                                .tundra                               .dijitAccordionPane-selected
.dijitAccordionArrow {
    background-image: url( "/sites/all/modules/dojo/dtk_build/dijit/themes/tundra/images/circleIcon.gif" );
}

.tundra
.dijitAccordionPane              .dijitAccordionBody {
    background: #fff;
    border-top: 1px solid #bfbfbf;
}

.tundra
.dijitTreeNode {
    background-image: url( '/sites/all/modules/dojo/dtk_build/dijit/themes/tundra/images/i.gif' );
    background-position: top left;
    background-repeat: repeat-y;
    margin-left: 19px;
    zoom: 1;
}

.tundra
.dijitTreeIsLast {
    background: url( '/sites/all/modules/dojo/dtk_build/dijit/themes/tundra/images/i_half.gif' ) no-repeat;
}

.tundra
.dijitTreeIsRoot {
    margin-left: 0;
    background-image: none;
}

.tundra                     .dijitTreeExpando {
    width: 18px;
    height: 18px;
}

.tundra
.dijitTreeContent {
    min-height: 18px;
    min-width: 18px;
    margin-left: 18px;
    padding-top: 3px;
    padding-left: 1px;
}

.tundra
.dijitTreeExpand {
    width: 18px;
    height: 18px;
    background-repeat: no-repeat;
}

.tundra
.dijitTreeNodeEmphasized {
    background-color: Highlight;
    color: HighlightText;
}

.tundra      .dijitTreeLabelFocused {
    outline: 1px invert dotted;
}

.tundra
.dijitTreeExpandoOpened {
    background-image: url( '/sites/all/modules/dojo/dtk_build/dijit/themes/tundra/images/treeExpand_minus.gif' );
}

.tundra
.dijitTreeExpandoClosed {
    background-image: url( '/sites/all/modules/dojo/dtk_build/dijit/themes/tundra/images/treeExpand_plus.gif' );
}

.tundra
.dijitTreeExpandoLeaf {
    background-image: url( '/sites/all/modules/dojo/dtk_build/dijit/themes/tundra/images/treeExpand_leaf.gif' );
}

.tundra
.dijitTreeExpandoLoading {
    background-image: url( '/sites/all/modules/dojo/dtk_build/dijit/themes/tundra/images/treeExpand_loading.gif' );
}

.tundra
.dijitCalendarIncrementControl {
    width: 16px;
    height: 16px;
}

.dj_ie6    .tundra   .dijitCalendarIncrementControl {
    padding: .1em;
}

.tundra
.dijitCalendarIncreaseInner, .tundra                                          .dijitCalendarDecreaseInner {
    visibility: hidden;
}

.tundra
.dijitCalendarDecrease {
    background: url( "/sites/all/modules/dojo/dtk_build/dijit/themes/tundra/images/arrowLeft.png" ) no-repeat center center;
}

.dj_ie6                                                   .tundra
.dijitCalendarDecrease {
    background-image: url( "/sites/all/modules/dojo/dtk_build/dijit/themes/tundra/images/arrowLeft.gif" );
}

.tundra
.dijitCalendarIncrease {
    background: url( /sites/all/modules/dojo/dtk_build/dijit/themes/tundra/images/arrowRight.png ) no-repeat center center;
}

.dj_ie6                                                                                                             .tundra
.dijitCalendarIncrease {
    background-image: url( "/sites/all/modules/dojo/dtk_build/dijit/themes/tundra/images/arrowRight.gif" );
}

.tundra
table.dijitCalendarContainer {
    font-size: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    border: 1px solid #ccc;
    margin: 0;
}

.tundra
.dijitCalendarMonthContainer                                          th {
    background: white url( "/sites/all/modules/dojo/dtk_build/dijit/themes/tundra/images/calendarMonthLabel.png" ) repeat-x top;
    padding-top: .3em;
    padding-bottom: .1em;
    text-align: center;
}

.dj_ie6               .tundra              .dijitCalendarMonthContainer
th {
    padding-top: .1em;
    padding-bottom: 0em;
}

.tundra                   .dijitCalendarDayLabelTemplate {
    background: white url( "/sites/all/modules/dojo/dtk_build/dijit/themes/tundra/images/calendarDayLabel.png" ) repeat-x bottom;
    font-weight: normal;
    padding-top: .15em;
    padding-bottom: 0em;
    border-top: 1px solid #eeeeee;
    color: #293a4b;
    text-align: center;
}

.tundra                                                          .dijitCalendarMonthLabel {
    color: #293a4b;
    font-size: 0.75em;
    font-weight: bold;
    text-align: center;
}

.dj_ie7   .tundra   .dijitCalendarDateTemplate, .dj_ie6   .tundra
.dijitCalendarDateTemplate {
    font-size: 0.8em;
}

.tundra                                                     .dijitCalendarDateTemplate {
    font-size: 0.9em;
    font-weight: bold;
    text-align: center;
    padding: 0.3em 0.3em 0.05em 0.3em;
    letter-spacing: 1px;
}

.tundra
.dijitCalendarPreviousMonth, .tundra     .dijitCalendarNextMonth {
    color: #999999;
    background-color: #f8f8f8 !important;
}

.tundra
.dijitCalendarPreviousMonthDisabled, .tundra    .dijitCalendarNextMonthDisabled {
    background-color: #a4a5a6 !important;
}

.tundra
.dijitCalendarCurrentMonth {
    background-color: white !important;
}

.tundra .dijitCalendarCurrentMonthDisabled {
    background-color: #bbbbbc !important;
}

.tundra   .dijitCalendarDisabledDate {
    text-decoration: line-through !important;
    cursor: default !important;
}

.tundra
.dijitCalendarCurrentDate {
    text-decoration: underline;
    font-weight: bold;
}

.tundra .dijitCalendarSelectedDate {
    background-color: #bbc4d0 !important;
    color: black !important;
}

.tundra                .dijitCalendarYearContainer {
    background: white url( "/sites/all/modules/dojo/dtk_build/dijit/themes/tundra/images/calendarYearLabel.png" ) repeat-x bottom;
    border-top: 1px solid #ccc;
}

.tundra  .dijitCalendarYearLabel {
    margin: 0;
    padding: 0.4em 0 0.25em 0;
    text-align: center;
}

.tundra  .dijitCalendarSelectedYear {
    color: black;
    padding: 0.2em;
    padding-bottom: 0.1em;
    background-color: #bbc4d0 !important;
}

.tundra     .dijitCalendarNextYear, .tundra
.dijitCalendarPreviousYear {
    color: black !important;
    font-weight: normal;
}

.tundra  .dijitInlineValue {
    padding: 3px;
    margin: 4px;
}

.tundra
.dijitInlineEditor {
    display: inline-block;
    display: -moz-inline-stack;
#display : inline;
}

.dijitInlineEditor
.saveButton, .dijitInlineEditor .cancelButton {
    margin: 3px 3px 3px 0px;
}

.tundra .dijitSpinner {
}

.tundra  .dijitSpinner input {
}

.tundra
.dijitProgressBar {
    margin: 2px 0px 2px 0px;
}

.tundra         .dijitProgressBarEmpty {
    background: #ececec url( "/sites/all/modules/dojo/dtk_build/dijit/themes/tundra/images/progressBarEmpty.png" ) repeat-x bottom left;
    border-color: #84a3d1;
}

.tundra                             .dijitProgressBarTile {
    background: #cad2de url( "/sites/all/modules/dojo/dtk_build/dijit/themes/tundra/images/progressBarFull.png" ) repeat-x top left;
}

.tundra
.dijitProgressBarLabel {
    color: #293a4b;
}

.tundra    .dijitProgressBarIndeterminate    .dijitProgressBarTile {
    background: #cad2de url( "/sites/all/modules/dojo/dtk_build/dijit/themes/tundra/images/dijitProgressBarAnim.gif" ) repeat-x top left;
}

.tundra
.dijitHorizontalSliderProgressBar {
    border-color: #aab0bb;
    background: #c0c2c5 url( "/sites/all/modules/dojo/dtk_build/dijit/themes/tundra/images/sliderFull.png" ) repeat-x top left;
}

.tundra
.dijitVerticalSliderProgressBar {
    border-color: #aab0bb;
    background: #c0c2c5 url( "/sites/all/modules/dojo/dtk_build/dijit/themes/tundra/images/sliderFullVertical.png" ) repeat-y bottom left;
}

.tundra
.dijitSliderFocused                          .dijitHorizontalSliderProgressBar, .tundra                          .dijitSliderFocused
.dijitHorizontalSliderLeftBumper {
    background-image: url( "/sites/all/modules/dojo/dtk_build/dijit/themes/tundra/images/sliderFullFocus.png" );
}

.tundra
.dijitSliderFocused                           .dijitVerticalSliderProgressBar, .tundra                           .dijitSliderFocused
.dijitVerticalSliderBottomBumper {
    background-image: url( "/sites/all/modules/dojo/dtk_build/dijit/themes/tundra/images/sliderFullVerticalFocus.png" );
}

.tundra
.dijitVerticalSliderRemainingBar {
    border-color: #b4b4b4;
    background: #dcdcdc url( "/sites/all/modules/dojo/dtk_build/dijit/themes/tundra/images/sliderEmptyVertical.png" ) repeat-y bottom left;
}

.tundra
.dijitHorizontalSliderRemainingBar {
    border-color: #b4b4b4;
    background: #dcdcdc url( "/sites/all/modules/dojo/dtk_build/dijit/themes/tundra/images/sliderEmpty.png" ) repeat-x top left;
}

.tundra
.dijitSliderBar {
    border-style: solid;
    outline: 1px;
}

.tundra      .dijitSliderFocused     .dijitSliderBar {
    border-color: #333;
}

.dijit_a11y
.dijitSliderProgressBar {
    background-color: #333 !important;
}

.tundra
.dijitHorizontalSliderImageHandle {
    border: 0px;
    width: 16px;
    height: 16px;
    background: url( "/sites/all/modules/dojo/dtk_build/dijit/themes/tundra/images/preciseSliderThumb.png" ) no-repeat center top;
    cursor: pointer;
}

.tundra                       .dijitSliderFocused
.dijitHorizontalSliderImageHandle {
    background-image: url( "/sites/all/modules/dojo/dtk_build/dijit/themes/tundra/images/preciseSliderThumbFocus.png" );
#background-image : url ( "/sites/all/modules/dojo/dtk_build/dijit/themes/tundra/images/preciseSliderThumbFocus.gif" );
}

.dj_ie6
.tundra
.dijitHorizontalSliderImageHandle {
    background-image: url( "/sites/all/modules/dojo/dtk_build/dijit/themes/tundra/images/preciseSliderThumb.gif" );
}

.tundra
.dijitHorizontalSliderLeftBumper {
    border-left-width: 1px;
    border-color: #aab0bb;
    background: #c0c2c5 url( "/sites/all/modules/dojo/dtk_build/dijit/themes/tundra/images/sliderFull.png" ) repeat-x top left;
}

.tundra
.dijitHorizontalSliderRightBumper {
    background: #dcdcdc url( "/sites/all/modules/dojo/dtk_build/dijit/themes/tundra/images/sliderEmpty.png" ) repeat-x top left;
    border-color: #b4b4b4;
    border-right-width: 1px;
}

.tundra
.dijitVerticalSliderImageHandle {
    border: 0px;
    width: 16px;
    height: 16px;
    background: url( "/sites/all/modules/dojo/dtk_build/dijit/themes/tundra/images/sliderThumb.png" ) no-repeat center center;
    cursor: pointer;
}

.tundra                      .dijitSliderFocused
.dijitVerticalSliderImageHandle {
    background-image: url( "/sites/all/modules/dojo/dtk_build/dijit/themes/tundra/images/sliderThumbFocus.png" );
}

.dj_ie6
.tundra                                                                                                         .dijitSliderFocused
.dijitVerticalSliderImageHandle {
    background-image: url( "/sites/all/modules/dojo/dtk_build/dijit/themes/tundra/images/sliderThumbFocus.gif" );
}

.tundra
.dijitVerticalSliderBottomBumper {
    border-bottom-width: 1px;
    border-color: #aab0bb;
    background: #c0c2c5 url( "/sites/all/modules/dojo/dtk_build/dijit/themes/tundra/images/sliderFullVertical.png" ) repeat-y bottom left;
}

.tundra
.dijitVerticalSliderTopBumper {
    background: #dcdcdc url( "/sites/all/modules/dojo/dtk_build/dijit/themes/tundra/images/sliderEmptyVertical.png" ) repeat-y top left;
    border-color: #b4b4b4;
    border-top-width: 1px;
}

.tundra                                 .dijitHorizontalSliderIncrementIcon, .tundra
.dijitVerticalSliderIncrementIcon {
    background: url( '/sites/all/modules/dojo/dtk_build/dijit/themes/tundra/images/arrowUp.png' ) no-repeat center center;
    width: 16px;
    height: 16px;
    cursor: pointer;
}

.tundra
.dijitHorizontalSliderIncrementIcon {
    background-image: url( '/sites/all/modules/dojo/dtk_build/dijit/themes/tundra/images/arrowRight.png' );
}

.tundra
.dijitHorizontalSliderDecrementIcon, .tundra
.dijitVerticalSliderDecrementIcon {
    width: 16px;
    height: 16px;
    cursor: pointer;
    background: url( '/sites/all/modules/dojo/dtk_build/dijit/themes/tundra/images/arrowDown.png' ) no-repeat center center;
}

.tundra
.dijitHorizontalSliderDecrementIcon {
    background-image: url( '/sites/all/modules/dojo/dtk_build/dijit/themes/tundra/images/arrowLeft.png' );
}

.tundra
.dijitSliderButtonInner {
    visibility: hidden;
}

.tundra        .dijitSliderDisabled {
    opacity: 0.6 !important;
}

.dj_ie6        .tundra
.dijitSliderDisabled, .dj_ie6     .tundra      .dijitSliderDisabled     .RuleContainer, .dj_ie6      .tundra     .dijitSliderDisabled
.dijitSliderRemainingBar, .dj_ie6  .tundra   .dijitSliderDisabled  .dijitSliderProgressBar {
    filter: gray( ) alpha( opacity = 40 );
}

.tundra
.dijitEditorIcon {
    background-image: url( '/sites/all/modules/dojo/dtk_build/dijit/themes/tundra/images/editor.gif' );
    background-repeat: no-repeat;
    width: 18px;
    height: 18px;
    text-align: center;
}

.tundra  .dijitEditorIconSep {
    background-position: 0px;
}

.tundra
.dijitEditorIconBackColor {
    background-position: -18px;
}

.tundra                .dijitEditorIconBold {
    background-position: -36px;
}

.tundra
.dijitEditorIconCancel {
    background-position: -54px;
}

.tundra                   .dijitEditorIconCopy {
    background-position: -72px;
}

.tundra
.dijitEditorIconCreateLink {
    background-position: -90px;
}

.tundra               .dijitEditorIconCut {
    background-position: -108px;
}

.tundra
.dijitEditorIconDelete {
    background-position: -126px;
}

.tundra            .dijitEditorIconForeColor {
    background-position: -144px;
}

.tundra
.dijitEditorIconHiliteColor {
    background-position: -162px;
}

.tundra          .dijitEditorIconIndent {
    background-position: -180px;
}

.tundra
.dijitEditorIconInsertHorizontalRule {
    background-position: -198px;
}

.tundra
.dijitEditorIconInsertImage {
    background-position: -216px;
}

.tundra
.dijitEditorIconInsertOrderedList {
    background-position: -234px;
}

.tundra
.dijitEditorIconInsertTable {
    background-position: -252px;
}

.tundra
.dijitEditorIconInsertUnorderedList {
    background-position: -270px;
}

.tundra  .dijitEditorIconItalic {
    background-position: -288px;
}

.tundra
.dijitEditorIconJustifyCenter {
    background-position: -306px;
}

.tundra   .dijitEditorIconJustifyFull {
    background-position: -324px;
}

.tundra
.dijitEditorIconJustifyLeft {
    background-position: -342px;
}

.tundra    .dijitEditorIconJustifyRight {
    background-position: -360px;
}

.tundra
.dijitEditorIconLeftToRight {
    background-position: -378px;
}

.tundra
.dijitEditorIconListBulletIndent {
    background-position: -396px;
}

.tundra
.dijitEditorIconListBulletOutdent {
    background-position: -414px;
}

.tundra
.dijitEditorIconListNumIndent {
    background-position: -432px;
}

.tundra
.dijitEditorIconListNumOutdent {
    background-position: -450px;
}

.tundra      .dijitEditorIconOutdent {
    background-position: -468px;
}

.tundra
.dijitEditorIconPaste {
    background-position: -486px;
}

.tundra                  .dijitEditorIconRedo {
    background-position: -504px;
}

.tundra
.dijitEditorIconRemoveFormat {
    background-position: -522px;
}

.tundra    .dijitEditorIconRightToLeft {
    background-position: -540px;
}

.tundra
.dijitEditorIconSave {
    background-position: -558px;
}

.tundra                  .dijitEditorIconSpace {
    background-position: -576px;
}

.tundra
.dijitEditorIconStrikethrough {
    background-position: -594px;
}

.tundra     .dijitEditorIconSubscript {
    background-position: -612px;
}

.tundra
.dijitEditorIconSuperscript {
    background-position: -630px;
}

.tundra       .dijitEditorIconUnderline {
    background-position: -648px;
}

.tundra
.dijitEditorIconUndo {
    background-position: -666px;
}

.tundra    .dijitEditorIconWikiword {
    background-position: -684px;
}

.dj_ie6    .tundra
.dijitInputField {
    background: url( "/sites/all/modules/dojo/dtk_build/dijit/themes/tundra/images/validationInputBg.gif" ) repeat-x top left #fff;
}

.tundra   .dijitSliderDisabled   *, .tundra   .dijitDisabledClickableRegion, .tundra   .dijitSpinnerDisabled   *, .tundra
.dijitButtonDisabled  *, .tundra .dijitDropDownButtonDisabled  *, .tundra .dijitComboButtonDisabled  *, .tundra .dijitComboBoxDisabled
* {
    cursor: not-allowed !important;
}

.tundra       .dojoDndAvatar {
    font-size: 75%;
    color: black;
}

.tundra        .dojoDndAvatarHeader
td {
    padding-left: 20px;
    padding-right: 4px;
}

.tundra                                       .dojoDndAvatarHeader {
    background: #ccc;
}

.tundra
.dojoDndAvatarItem {
    background: #eee;
}

.tundra.dojoDndMove
.dojoDndAvatarHeader {
    background-image: url( /sites/all/modules/dojo/dtk_build/dijit/themes/tundra/images/dndNoMove.png );
    background-repeat: no-repeat;
}

.tundra.dojoDndCopy
.dojoDndAvatarHeader {
    background-image: url( /sites/all/modules/dojo/dtk_build/dijit/themes/tundra/images/dndNoCopy.png );
    background-repeat: no-repeat;
}

.tundra.dojoDndMove
.dojoDndAvatarCanDrop
.dojoDndAvatarHeader {
    background-image: url( /sites/all/modules/dojo/dtk_build/dijit/themes/tundra/images/dndMove.png );
    background-repeat: no-repeat;
}

.tundra.dojoDndCopy
.dojoDndAvatarCanDrop
.dojoDndAvatarHeader {
    background-image: url( /sites/all/modules/dojo/dtk_build/dijit/themes/tundra/images/dndCopy.png );
    background-repeat: no-repeat;
}

.tundra
.dijitContentPaneLoading {
    background: url( '/sites/all/modules/dojo/dtk_build/dijit/themes/tundra/images/loading.gif' ) no-repeat left center;
    padding-left: 25px;
}

.tundra
.dijitContentPaneError {
    background: url( '/sites/all/modules/dojo/dtk_build/dijit/themes/tundra/images/warning.png' ) no-repeat left center;
    padding-left: 25px;
}